<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                 2025 &copy; Christ Gospel Assembly Tilbury Church
            </div>
        </div>
    </div>
</footer>