<head>
  <meta charset="utf-8" />
  <title>Christ Gospel Assembly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/class suite logo.png">
  <link href="/css2/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
  <link href="/css2/icons.min.css" rel="stylesheet" type="text/css" />
  <link href="/css2/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link
    href="/libs/dropzone/min/dropzone.min.css"
    rel="stylesheet"
    type="text/css"
  />

  <link
    href="/libs/summernote/summernote-bs4.min.css"
    rel="stylesheet"
    type="text/css"
  />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">    
</head>
</head>