
<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head/header.ejs'); %>
<body>

	<div class="preloader">
		<div class="loading-container">
			<div class="loading"></div>
			<div id="loading-icon"><img style="height: 30px;" src="cga-main-logo.png" alt=""></div>
		</div>
	</div>
	<%- include('partials/head/menubar.ejs'); %>
	<div class="page-header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class="page-header-box">
						<h1 class="text-anime-style-2" data-cursor="-opaque"><span>About</span> Us</h1>
						<nav class="wow fadeInUp">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">home</a></li>
								<li class="breadcrumb-item active" aria-current="page">about us</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>

    
	<div class="about-us page-about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-image">
                        <div class="about-img-1">
                            <figure class="image-anime reveal">
                                <img src="images/about-us-img-1.jpg" alt="">
                            </figure>
                        </div>

                        <div class="about-img-2">
                            <figure class="image-anime reveal">
                                <img src="images/about-us-img-2.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="about-content">
                        <div class="section-title">
                            <h3 class="wow fadeInUp">Our History</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Welcome to <span>CGA Tilbury</span></h2>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">Christ Gospel Assembly is a registered Christian religious charity organisation situated at Tilbury Town in Thurrock Essex, United Kingdom. It was founded in 2004 by two courageous women who relocated from London to Tilbury Town and discovered that there was no Pentecostal Sunday service in the community. They followed the mandate of our Lord Jesus Christ to ‘Go Ye’ and preach the gospel, under the leadership and direction of the Holy Spirit with support of Christ Gospel Ministries in London.</p>
                            <p class="wow fadeInUp" data-wow-delay="0.5s">Weekly and Sunday service started with the two women and their six children at the Tilbury Dock Men Social Club at Calcutta Road. We later moved to Tilbury Leisure Centre and then due to increase and growth moved to its present location. We owe our continuous existence to the Grace of God that was sufficient for us. Jesus Christ said I will build my church and the gate of hell shall not prevail against it.                            </p>
                        </div>

                        <!-- About Content List Start -->
                        <div class="about-content-body">
                            <!-- About List Item Start -->
                            <div class="about-list-item wow fadeInUp">
                                <div class="icon-box">
                                    <img src="images/icon-about-list-1.svg" alt="">
                                </div>
                                <div class="about-list-item-content">
                                    <h3>share god's love</h3>
                                </div>
                            </div>
                            <div class="about-list-item wow fadeInUp" data-wow-delay="0.25s">
                                <div class="icon-box">
                                    <img src="images/icon-about-list-2.svg" alt="">
                                </div>
                                <div class="about-list-item-content">
                                    <h3>foster spiritual growth</h3>
                                </div>
                            </div>
                            <div class="about-list-item wow fadeInUp" data-wow-delay="0.5s">
                                <div class="icon-box">
                                    <img src="images/icon-about-list-3.svg" alt="">
                                </div>
                                <div class="about-list-item-content">
                                    <h3>serve our community</h3>
                                </div>
                            </div>
                            <div class="about-list-item wow fadeInUp" data-wow-delay="0.75s">
                                <div class="icon-box">
                                    <img src="images/icon-about-list-4.svg" alt="">
                                </div>
                                <div class="about-list-item-content">
                                    <h3>build strong relationships</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vision-mission">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3 class="wow fadeInUp">vision mission</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Building Faithful Community Through Love, Service, <span>Worship, and Fellowship.</span></h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
					<div class="vision-mission-nav wow fadeInUp" data-wow-delay="0.25s">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#vision" type="button" role="tab" aria-selected="true">Our Mission & Vision</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#approach" type="button" role="tab" aria-selected="false">Our humble begining</button>
                            </li>
                        </ul>
					</div>
                    <div class="vision-mission-box tab-content" id="myTabContent">
                        <div class="our-vision-item tab-pane fade show active" id="vision" role="tabpanel">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="vision-mission-content">
                                        <div class="section-title">
                                            <h3 class="wow fadeInUp">our vision</h3>
                                            <h2 class="text-anime-style-2" data-cursor="-opaque">Our Vision to Serve, <span>Love, and Grow</span></h2>
                                        </div>
                                        <div class="vision-mission-body">
                                            <h3 class="wow fadeInUp" data-wow-delay="0.25s">To Expand The Kingdom Of God In Preparation For The Second Coming Of Christ through Relentless Evangelism, Impartation Of The Words Of God, Sound Teaching and Effective Prayers. (Mark 16:15-16)</h3>
                                            <p class="wow fadeInUp" data-wow-delay="0.5s">Our vision is to preach relentlessly and win souls as we are preparing for the second coming of our Lord Jesus Christ through evangelism. We are destined to flourish, bringing joy and happiness to our community for a meaningful life.</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-lg-6">
                                    <div class="vision-mission-image">
                                        <figure class="image-anime reveal">
                                            <img src="images/our-vision-img.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="our-vision-item tab-pane fade" id="mission" role="tabpanel">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="vision-mission-content">
                                        <div class="section-title">
                                            <h3>our begining</h3>
                                            <h2 class="text-anime-style-2" data-cursor="-opaque">Our Humble, <span>Begining</span></h2>
                                        </div>
                                        <div class="vision-mission-body">
                                            <h3 class="wow fadeInUp" data-wow-delay="0.25s">Christ Gospel Assembly is a registered Christian religious charity organisation situated at Tilbury Town in Thurrock Essex, United Kingdom.</h3>
                                            <p class="wow fadeInUp" data-wow-delay="0.5s">It was founded in 2004 by two courageous women who relocated from London to Tilbury Town and discovered that there was no Pentecostal Sunday service in the community.</p>
                                            <p class="wow fadeInUp" data-wow-delay="0.5s">They followed the mandate of our Lord Jesus Christ to ‘Go Ye’ and preach the gospel, under the leadership and direction of the Holy Spirit with support of Christ Gospel Ministries in London.</p>
                                            <p class="wow fadeInUp" data-wow-delay="0.5s">Weekly and Sunday service started with the two women and their six children at the Tilbury Dock Men Social Club at Calcutta Road. We later moved to Tilbury Leisure Centre and then due to increase and growth moved to its present location.</p>
                                            <p class="wow fadeInUp" data-wow-delay="0.5s">We owe our continuous existence to the Grace of God that was sufficient for us. Jesus Christ said I will build my church and the gate of hell shall not prevail against it.</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-lg-6">
                                    <div class="vision-mission-image">
                                        <figure class="image-anime reveal">
                                            <img src="images/our-mission-img.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="our-mission-item tab-pane fade" id="approach" role="tabpanel">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <!-- Vision Mission Content Start -->
                                    <div class="vision-mission-content">
                                        <!-- Section Title Start -->
                                        <div class="section-title">
                                            <h3>our approach</h3>
                                            <h2 class="text-anime-style-2" data-cursor="-opaque">Our Vision to Serve, <span>Love, and Grow</span></h2>
                                        </div>
                                        <!-- Section Title End -->

                                        <!-- Vision Mission Body Start -->
                                        <div class="vision-mission-body">
                                            <h3>Our approach is to share God's love, foster spiritual growth, and serve our community with compassion and purpose.</h3>
                                            <p>Our approach is to serve our community with compassion, love unconditionally, and foster spiritual growth. Through dedicated service, heartfelt worship, and supportive fellowship, we strive to create a nurturing environment where individuals can deepen their faith, connect with others, and make a positive impact. Join us as we live out our commitment to serve, love, and grow together.</p>
                                        </div>
                                        <!-- Vision Mission Body End -->
                                    </div>
                                    <!-- Vision Mission Content End -->
                                </div>
    
                                <div class="col-lg-6">
                                    <!-- Vision Mission Image Start -->
                                    <div class="vision-mission-image">
                                        <figure class="image-anime reveal">
                                            <img src="images/our-approach-img.jpg" alt="">
                                        </figure>
                                    </div>
                                    <!-- Vision Mission Image End -->
                                </div>
                            </div>
                        </div>
                        <!-- Our Mission Item End -->
                    </div>
                    <!-- Vision Mission Box End -->                
                </div>
            </div>
        </div>
    </div>
    <!-- Vision Mission Section End -->

    <!-- Our Counter Section Start -->
    <div class="our-counter">
        <div class="container">
            <div class="row counter-box">
                <div class="col-lg-3 col-md-6">
                    <!-- Counter Item Start -->
                    <div class="counter-item">
                        <!-- Counter Title Start -->
                        <div class="counter-title">
                            <h2><span class="counter">350</span>+</h2>
                        </div>
                        <!-- Counter Title End -->                     

                        <!-- Counter Content Start -->
                        <div class="counter-content">
                            <h3>oldest member</h3>
                            <p>Our oldest member is Mary Thompson, who is 95 years old and has been attending since 1945.</p>
                        </div>
                        <!-- Counter Content End -->
                    </div>
                    <!-- Counter Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Counter Item Start -->
                    <div class="counter-item">
                        <!-- Counter Title Start -->
                        <div class="counter-title">
                            <h2><span class="counter">98</span>+</h2>
                        </div>
                        <!-- Counter Title End -->                     

                        <!-- Counter Content Start -->
                        <div class="counter-content">                            
                            <h3>youth retreats</h3>
                            <p>Our oldest member is Mary Thompson, who is 95 years old and has been attending since 1945.</p>
                        </div>
                        <!-- Counter Content End -->
                    </div>
                    <!-- Counter Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Counter Item Start -->
                    <div class="counter-item">
                        <!-- Counter Title Start -->
                        <div class="counter-title">
                            <h2><span class="counter">148</span>+</h2>                            
                        </div>
                        <!-- Counter Title End -->                     

                        <!-- Counter Content Start -->
                        <div class="counter-content">
                            <h3>tech workshops</h3>
                            <p>Our oldest member is Mary Thompson, who is 95 years old and has been attending since 1945.</p>
                        </div>
                        <!-- Counter Content End -->
                    </div>
                    <!-- Counter Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Counter Item Start -->
                    <div class="counter-item">
                        <!-- Counter Title Start -->
                        <div class="counter-title">
                            <h2><span class="counter">58</span>+</h2>
                        </div>
                        <!-- Counter Title End -->                     

                        <!-- Counter Content Start -->
                        <div class="counter-content">
                            <h3>christmas concert</h3>
                            <p>Our oldest member is Mary Thompson, who is 95 years old and has been attending since 1945.</p>
                        </div>
                        <!-- Counter Content End -->
                    </div>
                    <!-- Counter Item End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Counter Section End -->

    <!-- What We do Section Start -->
    <div class="what-we-do">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">what we do</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Living Our <span>Faith Together</span></h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- What We Item Start -->
                    <div class="what-we-item wow fadeInUp">
                        <div class="icon-box">
                            <img src="images/icon-what-we-1.svg" alt="">
                        </div>
                        <div class="what-we-content">
                            <h3>worship services</h3>
                            <p>Experience spiritual growth and meaningful connection through heartfelt worship and fellowship. Everyone is welcome to join us</p>
                        </div>
                    </div>
                    <!-- What We Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- What We Item Start -->
                    <div class="what-we-item wow fadeInUp" data-wow-delay="0.25s">
                        <div class="icon-box">
                            <img src="images/icon-what-we-2.svg" alt="">
                        </div>
                        <div class="what-we-content">
                            <h3>community outreach</h3>
                            <p>Experience spiritual growth and meaningful connection through heartfelt worship and fellowship. Everyone is welcome to join us</p>
                        </div>
                    </div>
                    <!-- What We Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- What We Item Start -->
                    <div class="what-we-item wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon-box">
                            <img src="images/icon-what-we-3.svg" alt="">
                        </div>
                        <div class="what-we-content">
                            <h3>educational programs</h3>
                            <p>Experience spiritual growth and meaningful connection through heartfelt worship and fellowship. Everyone is welcome to join us</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="our-team">
        <div class="container">
            <div class="row align-items-center section-row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3 class="wow fadeInUp">our Pastors</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Meet Our <span>Pastors</span></h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6">
                    <div class="team-member-item wow fadeInUp">
                        <div class="team-image">
                            <figure class="image-anime">
                                <img src="pastor1.jpg" alt="">
                            </figure>
                            <div class="team-social-icon">
                                <ul>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3>Pastor Esther Ogunniyi</h3>
                            <p>General Overseer</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="team-member-item wow fadeInUp" data-wow-delay="0.25s">
                        <div class="team-image">
                            <figure class="image-anime">
                                <img src="pastor2.jpg" alt="">
                            </figure>
                            <div class="team-social-icon">
                                <ul>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3>Pastor Zacchaeus Akin-Olushola </h3>
                            <p>Senior Pastor</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="team-member-item wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-image">
                            <figure class="image-anime">
                                <img src="pastor3.jpg" alt="">
                            </figure>
                            <div class="team-social-icon">
                                <ul>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3>Minister Adebayo Oluwadare</h3>
                            <p>Assistant Pastor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
    <%- include('partials/head/footer.ejs'); %>

</body>

</html>