<!DOCTYPE html>
<html class="no-js" lang="en">
    <%- include('partials/head/header.ejs'); %>
    <body>
        <%- include('partials/head/menubar.ejs'); %>
        <main class="fix">

            <div class="page-header" data-background="assets/images/home2/hero-2-bg.png">
                <div class="container">
                    <div class="row">
                        <h1 class="mb-2 text-white">About Christ Gospel Church</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <section class="About-section-4 pt-80px pb-80px position-relative">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 ps-lg-4 pe-4">
                            <img class="" src="new1.jpg" data-aos="zoom-in" alt="Blessed">
                        </div>
                        <div class="col-lg-6 d-flex align-content-start mt-4 mt-lg-0 flex-wrap ps-4">
                            <h2 class="fw-normal mb-3" data-aos="fade-up">Our History</h2>
                            <p data-aos="fade-up mb-2">
                                Christ Gospel Assembly is a registered Christian religious charity organisation situated at Tilbury Town in Thurrock Essex, United Kingdom.
It was founded in 2004 by two courageous women who relocated from London to Tilbury Town and discovered that there was no Pentecostal Sunday service in the community.

They followed the mandate of our Lord Jesus Christ to ‘Go Ye’ and preach the gospel, under the leadership and direction of the Holy Spirit with support of Christ Gospel Ministries in London.

Weekly and Sunday service started with the two women and their six children at the Tilbury Dock Men Social Club at Calcutta Road. We later moved to Tilbury Leisure Centre and then due to increase and growth moved to its present location.
We owe our continuous existence to the Grace of God that was sufficient for us. Jesus Christ said I will build my church and the gate of hell shall not prevail against it.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="wrap-asset-about position-absolute">
                    <img class="alltuchtopdown" src="assets/images/about/img-bg-sec-4.png" alt="Blessed">
                </div>
            </section>

            <section class="about-sec-5 position-relative section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12 pe-5">
                            <div class="header-sec-5">
                                <div class="d-flex gap-5 align-items-end" data-aos="fade-up">
                                    <div class="section-title">
                                        <span class="sub-title fs-5">Our Mission & Vision</span>
                                    </div>
                                </div>
                                <h3 class="fw-medium" data-aos="fade-up">Christ Gospel Assembly Church, where hearts are open, spirits are lifted,
                                    and love abounds</h3>
                                <p data-aos="fade-up fs-6 mb-0">
                                    To Expand The Kingdom Of God In Preparation For The Second Coming Of Christ through Relentless Evangelism, Impartation Of The Words Of God, Sound Teaching and Effective Prayers. (Mark 16:15-16)
Our vision is to preach relentlessly and win souls as we are preparing for the second coming of our Lord Jesus Christ through evangelism. We are destined to flourish, bringing joy and happiness to our community for a meaningful life.
                                </p>
                            </div>
                            
                        </div>
                        <div class="col-lg-6 col-12 img-ab-sec-5 position-absolute top-0 end-0 left-0 h-100 pt-4 pt-lg-0 px-0">
                            <img class="h-100" src="8.jpg" alt="Blessed">
                        </div>
                    </div>
                </div>
            </section>

            <section style="margin-top: 70px">
                <div class="container">
                    <div class="about-box-4">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-12">
                                <div class="pe-md-0 pe-lg-5">
                                    <h2 class="mb-3">Planning Your Visit</h2>
                                    <p class="mb-3">We study the word of God for lives transformation and spiritual growth; we pray militantly in our prayer meetings, hold Friday night prayer quite regularly to release those who are spiritually oppressed, heal the wounded and broken-hearted.</p>
                                    <p class="mb-5">The dynamic Sunday service is fully packed with powerful teachings that give revelation and restoration to your everyday life.</p>
                                    <a href="#" class="btn text-white rounded-5 mb-4 mb-lg-0 btn-circle-arrow aos-init aos-animate" data-aos="flip-up">
                                        <span>Contact Us Now</span>
                                        <span class="bg-transparent ms-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right size-16"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 text-center">
                                <img style="border-radius: 10px;" src="9.jpg" alt="Blessed">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="position-relative" style="margin-top: 55px">
                <div class="container">

                    <div class="row mb-5 align-items-end align-items-center">
                        <div class="col-lg-7 col-md-8 mb-3 mb-lg-0">
                            <div class="section-title tg-heading-subheading animation-style3">
                                <span class="sub-title">Church Ministers</span>
                                <h5 class="title tg-element-title">Get Acquainted with Our Exceptional Clergy Team</h5>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-4 d-none d-md-block">
                            <div class="d-flex justify-content-end align-items-end">
                                <div class="swiper-button-prev swiper-button-prev-style-1 swiper-button-prev-4">
                                    <i class="size-24" data-feather="arrow-left"></i>
                                </div>
                                <div class="swiper-button-next swiper-button-next-style-1 swiper-button-next-4">
                                    <i class="size-24" data-feather="arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="pastor-sliders">

                        <div class="swiper-container blessed-team">
                            <div class="swiper-wrapper pt-2">
                                <div class="swiper-slide hover-up">
                                    <div class="team-style-01 team-style-02">
                                        <figure class="mb-0 position-relative">
                                            <a href="#">
                                                <img style="height: 320px" src="pastor1.jpg" alt="Blessed">
                                            </a>
                                            <figcaption class="w-100 p-20px lg-p-25px text-center">
                                                <div class="position-relative z-3">
                                                    <p class="d-block fw-600 fs-5 text-dark mb-0">
                                                        <a href="#">Pastor Esther Ogunniyi</a>
                                                    </p>
                                                    <p class="fs-7">General Overseer</p>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="swiper-slide hover-up">
                                    <div class="team-style-01 team-style-02">
                                        <figure class="mb-0 position-relative">
                                            <a href="#">
                                                <img style="height: 320px" src="pastor2.jpg" alt="Blessed">
                                            </a>
                                            <figcaption class="w-100 p-20px lg-p-25px text-center">
                                                <div class="position-relative z-3">
                                                    <p class="d-block fw-600 fs-5 text-dark mb-0">
                                                        <a href="#">Pastor Zacchaeus Akin-Olushola</a>
                                                    </p>
                                                    <p class="fs-7">Senior Pastor</p>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="swiper-slide hover-up">
                                    <div class="team-style-01 team-style-02">
                                        <figure class="mb-0 position-relative">
                                            <a href="#">
                                                <img style="height: 320px" src="pastor3.jpg" alt="Blessed">
                                            </a>
                                            <figcaption class="w-100 p-20px lg-p-25px text-center">
                                                <div class="position-relative z-3">
                                                    <p class="d-block fw-600 fs-5 text-dark mb-0">
                                                        <a href="#">Minister Adebayo Oluwadare</a>
                                                    </p>
                                                    <p class="fs-7">Assistant Pastor</p>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 text-center mb-3">
                            <div class="blessed-team-pagination"></div>
                        </div>

                    </div>
                </div>
                <div class="wrap-asset position-absolute top-50 left-5 ms-5">
                    <img class="alltuchtopdown" src="assets/images/home1/img-sec-8.png" alt="Blessed">
                </div>
            </section>

            <!-- Gallery Section
            ==================== -->
            <section class="section-padding position-relative">
                <div class="container">
                    <div class="row mb-5 align-items-end">
                        <div class="col-lg-7">
                            <div class="section-title tg-heading-subheading animation-style3">
                                <span class="sub-title">Our Gallery</span>
                                <h5 class="title tg-element-title">Art at the Cathedral</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="gallery-thumb text-center position-relative br-4 mb-30">
                                <img class="thumb-1" src="1.jpg" alt="Blessed">
                                <div class="overlay position-absolute justify-content-center align-items-center">
                                    <a class="popup-image" href="1.jpg">
                                        <span class="view-popup">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                                <path d="M18.0499 8.55H10.4501V0.949942C10.4501 0.425656 10.0244 0 9.49994 0C8.97566 0 8.55 0.425656 8.55 0.949942V8.55H0.949942C0.425656 8.55 0 8.97566 0 9.49994C0 10.0244 0.425656 10.4501 0.949942 10.4501H8.55V18.0499C8.55 18.5744 8.97566 19.0001 9.49994 19.0001C10.0244 19.0001 10.4501 18.5744 10.4501 18.0499V10.4501H18.0499C18.5744 10.4501 19.0001 10.0244 19.0001 9.49994C19.0001 8.97566 18.5744 8.55 18.0499 8.55Z" fill="#060606" />
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-thumb text-center position-relative br-4 mb-30">
                                <img class="thumb-1" src="2.jpg" alt="Blessed">
                                <div class="overlay position-absolute justify-content-center align-items-center">
                                    <a class="popup-image" href="2.jpg">
                                        <span class="view-popup">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                                <path d="M18.0499 8.55H10.4501V0.949942C10.4501 0.425656 10.0244 0 9.49994 0C8.97566 0 8.55 0.425656 8.55 0.949942V8.55H0.949942C0.425656 8.55 0 8.97566 0 9.49994C0 10.0244 0.425656 10.4501 0.949942 10.4501H8.55V18.0499C8.55 18.5744 8.97566 19.0001 9.49994 19.0001C10.0244 19.0001 10.4501 18.5744 10.4501 18.0499V10.4501H18.0499C18.5744 10.4501 19.0001 10.0244 19.0001 9.49994C19.0001 8.97566 18.5744 8.55 18.0499 8.55Z" fill="#060606" />
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="gallery-thumb text-center position-relative br-4 mb-30">
                                <img class="thumb-1" src="3.jpg" alt="Blessed">
                                <div class="overlay position-absolute justify-content-center align-items-center">
                                    <a class="popup-image" href="3.jpg">
                                        <span class="view-popup">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                                <path d="M18.0499 8.55H10.4501V0.949942C10.4501 0.425656 10.0244 0 9.49994 0C8.97566 0 8.55 0.425656 8.55 0.949942V8.55H0.949942C0.425656 8.55 0 8.97566 0 9.49994C0 10.0244 0.425656 10.4501 0.949942 10.4501H8.55V18.0499C8.55 18.5744 8.97566 19.0001 9.49994 19.0001C10.0244 19.0001 10.4501 18.5744 10.4501 18.0499V10.4501H18.0499C18.5744 10.4501 19.0001 10.0244 19.0001 9.49994C19.0001 8.97566 18.5744 8.55 18.0499 8.55Z" fill="#060606" />
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-thumb text-center position-relative br-4 mb-30">
                                <img class="thumb-1" src="4.jpg" alt="Blessed">
                                <div class="overlay position-absolute justify-content-center align-items-center">
                                    <a class="popup-image" href="4.jpg">
                                        <span class="view-popup">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                                <path d="M18.0499 8.55H10.4501V0.949942C10.4501 0.425656 10.0244 0 9.49994 0C8.97566 0 8.55 0.425656 8.55 0.949942V8.55H0.949942C0.425656 8.55 0 8.97566 0 9.49994C0 10.0244 0.425656 10.4501 0.949942 10.4501H8.55V18.0499C8.55 18.5744 8.97566 19.0001 9.49994 19.0001C10.0244 19.0001 10.4501 18.5744 10.4501 18.0499V10.4501H18.0499C18.5744 10.4501 19.0001 10.0244 19.0001 9.49994C19.0001 8.97566 18.5744 8.55 18.0499 8.55Z" fill="#060606" />
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="gallery-thumb text-center position-relative br-4 mb-30">
                                <img class="thumb-1" src="5.jpg" alt="Blessed">
                                <div class="overlay position-absolute justify-content-center align-items-center">
                                    <a class="popup-image" href="5.jpg">
                                        <span class="view-popup">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                                <path d="M18.0499 8.55H10.4501V0.949942C10.4501 0.425656 10.0244 0 9.49994 0C8.97566 0 8.55 0.425656 8.55 0.949942V8.55H0.949942C0.425656 8.55 0 8.97566 0 9.49994C0 10.0244 0.425656 10.4501 0.949942 10.4501H8.55V18.0499C8.55 18.5744 8.97566 19.0001 9.49994 19.0001C10.0244 19.0001 10.4501 18.5744 10.4501 18.0499V10.4501H18.0499C18.5744 10.4501 19.0001 10.0244 19.0001 9.49994C19.0001 8.97566 18.5744 8.55 18.0499 8.55Z" fill="#060606" />
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-thumb text-center position-relative br-4 mb-30">
                                <img class="thumb-1" src="6.jpg" alt="Blessed">
                                <div class="overlay position-absolute justify-content-center align-items-center">
                                    <a class="popup-image" href="6.jpg">
                                        <span class="view-popup">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                                <path d="M18.0499 8.55H10.4501V0.949942C10.4501 0.425656 10.0244 0 9.49994 0C8.97566 0 8.55 0.425656 8.55 0.949942V8.55H0.949942C0.425656 8.55 0 8.97566 0 9.49994C0 10.0244 0.425656 10.4501 0.949942 10.4501H8.55V18.0499C8.55 18.5744 8.97566 19.0001 9.49994 19.0001C10.0244 19.0001 10.4501 18.5744 10.4501 18.0499V10.4501H18.0499C18.5744 10.4501 19.0001 10.0244 19.0001 9.49994C19.0001 8.97566 18.5744 8.55 18.0499 8.55Z" fill="#060606" />
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-top-sec-7 d-none d-lg-block alltuchtopdown">
                        <img src="assets/images/about/img-bg-sec-7.png" alt="Blessed" data-aos="fade-right" data-aos-delay="400" class="aos-init aos-animate img-bg">
                    </div>
                </div>
            </section>

        </main>

        <%- include('partials/head/footer.ejs'); %>

    </body>

</html>