<!DOCTYPE html>
<html class="no-js" lang="en">

<%- include('partials/head/header.ejs'); %>
    <body>

        <%- include('partials/head/menubar.ejs'); %>

        <div class="page-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="page-header-box">
                            <h1 class="text-anime-style-2" data-cursor="-opaque">Our Donations</h1>
                            <nav class="wow fadeInUp">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Donations</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="page-campaign">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <!-- Campaign Item Start -->
                        <div class="campaign-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <!-- Campaign Image Start -->
                            <div class="campaign-image">
                                <figure>
                                    <a href="#" class="image-anime" data-cursor-text="View">
                                        <img src="images/campaign-img-1.jpg" alt="">
                                    </a>
                                </figure>
                            </div>
                            <!-- Campaign Image End -->
    
                            <!-- Campaign Body Start -->
                            <div class="campaign-body">
                                <!-- Campaign Title Start -->
                                <div class="campaign-content">
                                    <h2>Kids Sports Activity</h2>
                                    <p>Find out which items we need for our chur5h's programs and services.</p>
                                </div>
                                <!-- Campaign Title End -->
    
                                <!-- Campaign List Start -->
                                <div class="campaign-btn">
                                    <a href="/donationsingle" class="read-more-btn">donate</a>
                                </div>
                                <!-- Campaign List End -->
    
                                <!-- Skills Progress Bar Start -->
                                <div class="skills-progress-bar">
                                    <!-- Skill Item Start -->
                                    <div class="skillbar" data-percent="40%">
                                        <div class="skill-data">
                                            <div class="skill-title"><span>$0</span> of $9,870</div>
                                            <div class="skill-no"><span>40%</span> Donations</div>
                                        </div>
                                        <div class="skill-progress">
                                            <div class="count-bar" style="width: 40.0001%; overflow: hidden;"></div>
                                        </div>
                                    </div>
                                    <!-- Skill Item End -->
                                </div>
                                <!-- Skills Progress Bar End -->
                            </div>
                            <!-- Campaign Body End -->                        
                        </div>
                        <!-- Campaign Item End -->
                    </div>
    
                    <div class="col-lg-4 col-md-6">
                        <!-- Campaign Item Start -->
                        <div class="campaign-item wow fadeInUp" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                            <!-- Campaign Image Start -->
                            <div class="campaign-image">
                                <figure>
                                    <a href="#" class="image-anime" data-cursor-text="View">
                                        <img src="images/campaign-img-2.jpg" alt="">
                                    </a>
                                </figure>
                            </div>
                            <!-- Campaign Image End -->
    
                            <!-- Campaign Body Start -->
                            <div class="campaign-body">
                                <!-- Campaign Title Start -->
                                <div class="campaign-content">
                                    <h2>Current Fundraising Campaigns</h2>
                                    <p>Find out how you can contribute to our ongoing fundraising efforts.</p>
                                </div>
                                <!-- Campaign Title End -->
    
                                <!-- Campaign List Start -->
                                <div class="campaign-btn">
                                    <a href="/donationsingle" class="read-more-btn">donate</a>
                                </div>
                                <!-- Campaign List End -->
    
                                <!-- Skills Progress Bar Start -->
                                <div class="skills-progress-bar">
                                    <!-- Skill Item Start -->
                                    <div class="skillbar" data-percent="98%">
                                        <div class="skill-data">
                                            <div class="skill-title"><span>$0</span> of $9,870</div>
                                            <div class="skill-no"><span>98%</span> Donations</div>
                                        </div>
                                        <div class="skill-progress">
                                            <div class="count-bar" style="width: 98.0001%; overflow: hidden;"></div>
                                        </div>
                                    </div>
                                    <!-- Skill Item End -->
                                </div>
                                <!-- Skills Progress Bar End -->
                            </div>
                            <!-- Campaign Body End -->                        
                        </div>
                        <!-- Campaign Item End -->
                    </div>
    
                    <div class="col-lg-4 col-md-6">
                        <!-- Campaign Item Start -->
                        <div class="campaign-item wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                            <!-- Campaign Image Start -->
                            <div class="campaign-image">
                                <figure>
                                    <a href="#" class="image-anime" data-cursor-text="View">
                                        <img src="images/campaign-img-3.jpg" alt="">
                                    </a>
                                </figure>
                            </div>
                            <!-- Campaign Image End -->
    
                            <!-- Campaign Body Start -->
                            <div class="campaign-body">
                                <!-- Campaign Title Start -->
                                <div class="campaign-content">
                                    <h2>endowment gifts</h2>
                                    <p>Learn about making endowment gifts to secure the future of our church.</p>
                                </div>
                                <!-- Campaign Title End -->
    
                                <!-- Campaign List Start -->
                                <div class="campaign-btn">
                                    <a href="/donationsingle" class="read-more-btn">donate</a>
                                </div>
                                <!-- Campaign List End -->
    
                                <!-- Skills Progress Bar Start -->
                                <div class="skills-progress-bar">
                                    <!-- Skill Item Start -->
                                    <div class="skillbar" data-percent="77%">
                                        <div class="skill-data">
                                            <div class="skill-title"><span>$0</span> of $9,870</div>
                                            <div class="skill-no"><span>77%</span> Donations</div>
                                        </div>
                                        <div class="skill-progress">
                                            <div class="count-bar" style="width: 76.9999%; overflow: hidden;"></div>
                                        </div>
                                    </div>
                                    <!-- Skill Item End -->
                                </div>
                                <!-- Skills Progress Bar End -->
                            </div>
                            <!-- Campaign Body End -->                        
                        </div>
                        <!-- Campaign Item End -->
                    </div>
    
                    <div class="col-lg-4 col-md-6">
                        <!-- Campaign Item Start -->
                        <div class="campaign-item wow fadeInUp" data-wow-delay="0.75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">
                            <!-- Campaign Image Start -->
                            <div class="campaign-image">
                                <figure>
                                    <a href="#" class="image-anime" data-cursor-text="View">
                                        <img src="images/campaign-img-4.jpg" alt="">
                                    </a>
                                </figure>
                            </div>
                            <!-- Campaign Image End -->
    
                            <!-- Campaign Body Start -->
                            <div class="campaign-body">
                                <!-- Campaign Title Start -->
                                <div class="campaign-content">
                                    <h2>tithes and offerings</h2>
                                    <p>Understand the significance of regular tithes and offerings in sustaining.</p>
                                </div>
                                <!-- Campaign Title End -->
    
                                <!-- Campaign List Start -->
                                <div class="campaign-btn">
                                    <a href="/donationsingle" class="read-more-btn">donate</a>
                                </div>
                                <!-- Campaign List End -->
    
                                <!-- Skills Progress Bar Start -->
                                <div class="skills-progress-bar">
                                    <!-- Skill Item Start -->
                                    <div class="skillbar" data-percent="93%">
                                        <div class="skill-data">
                                            <div class="skill-title"><span>$0</span> of $9,870</div>
                                            <div class="skill-no"><span>93%</span> Donations</div>
                                        </div>
                                        <div class="skill-progress">
                                            <div class="count-bar" style="width: 93.0001%; overflow: hidden;"></div>
                                        </div>
                                    </div>
                                    <!-- Skill Item End -->
                                </div>
                                <!-- Skills Progress Bar End -->
                            </div>
                            <!-- Campaign Body End -->                        
                        </div>
                        <!-- Campaign Item End -->
                    </div>
    
                    <div class="col-lg-4 col-md-6">
                        <!-- Campaign Item Start -->
                        <div class="campaign-item wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">
                            <!-- Campaign Image Start -->
                            <div class="campaign-image">
                                <figure>
                                    <a href="#" class="image-anime" data-cursor-text="View">
                                        <img src="images/campaign-img-5.jpg" alt="">
                                    </a>
                                </figure>
                            </div>
                            <!-- Campaign Image End -->
    
                            <!-- Campaign Body Start -->
                            <div class="campaign-body">
                                <!-- Campaign Title Start -->
                                <div class="campaign-content">
                                    <h2>planned giving</h2>
                                    <p>Explore planned giving options to leave a lasting legacy for our church.</p>
                                </div>
                                <!-- Campaign Title End -->
    
                                <!-- Campaign List Start -->
                                <div class="campaign-btn">
                                    <a href="/donationsingle" class="read-more-btn">donate</a>
                                </div>
                                <!-- Campaign List End -->
    
                                <!-- Skills Progress Bar Start -->
                                <div class="skills-progress-bar">
                                    <!-- Skill Item Start -->
                                    <div class="skillbar" data-percent="60%">
                                        <div class="skill-data">
                                            <div class="skill-title"><span>$0</span> of $9,870</div>
                                            <div class="skill-no"><span>60%</span> Donations</div>
                                        </div>
                                        <div class="skill-progress">
                                            <div class="count-bar" style="width: 60.0001%; overflow: hidden;"></div>
                                        </div>
                                    </div>
                                    <!-- Skill Item End -->
                                </div>
                                <!-- Skills Progress Bar End -->
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-6">
                        <div class="campaign-item wow fadeInUp" data-wow-delay="1.25s" style="visibility: visible; animation-delay: 1.25s; animation-name: fadeInUp;">
                            <div class="campaign-image">
                                <figure>
                                    <a href="#" class="image-anime" data-cursor-text="View">
                                        <img src="images/campaign-img-6.jpg" alt="">
                                    </a>
                                </figure>
                            </div>

                            <div class="campaign-body">
                                <div class="campaign-content">
                                    <h2>community fundraisers</h2>
                                    <p>Join us in community fundraisers to support various church initiatives.</p>
                                </div>
                                <div class="campaign-btn">
                                    <a href="/donationsingle" class="read-more-btn">donate</a>
                                </div>
                                <div class="skills-progress-bar">
                                    <div class="skillbar" data-percent="80%">
                                        <div class="skill-data">
                                            <div class="skill-title"><span>$0</span> of $9,870</div>
                                            <div class="skill-no"><span>80%</span> Donations</div>
                                        </div>
                                        <div class="skill-progress">
                                            <div class="count-bar" style="width: 80%; overflow: hidden;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>

        <%- include('partials/head/footer.ejs'); %>

    </body>
</html>