<!DOCTYPE html>
<html class="no-js" lang="en">

<%- include('partials/head/header.ejs'); %>
    <body>

        <%- include('partials/head/menubar.ejs'); %>

        <div class="page-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="page-header-box">
                            <h1 class="text-anime-style-2" data-cursor="-opaque">Our Donations</h1>
                            <nav class="wow fadeInUp">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Donations</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="page-campaign-single">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="campaign-single-content">
                            <!-- Campaign Featured Image Start -->
                            <div class="campaign-featured-image">
                                <figure class="image-anime reveal" style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
                                    <img src="images/campaign-img-1.jpg" alt="" style="transform: translate(0px, 0px);">
                                </figure>
                            </div>
                            <!-- Campaign Featured Image End -->
    
                            <!-- Campaign Donate Box Start -->
                            <div class="campaign-donate-box">
                                <!-- Skills Progress Bar Start -->
                                <div class="skills-progress-bar">
                                    <!-- Skill Item Start -->
                                    <div class="skillbar" data-percent="68%">
                                        <div class="skill-progress">
                                            <div class="count-bar" style="width: 68%;"></div>
                                        </div>
                                    </div>
                                    <!-- Skill Item End -->
                                </div>
                                <!-- Skills Progress Bar End -->
    
                                <!-- Campaign Donate Content Start -->
                                <div class="campaign-donate-content">
                                    <div class="campaign-donate-item campaign-raised">
                                        <h3>$<span class="counter">9,870</span></h3>
                                        <p>raised</p>
                                    </div>
                                    <div class="campaign-donate-item campaign-donations">
                                        <h3>$<span class="counter">0</span></h3>
                                        <p>donations</p>
                                    </div>
                                    <div class="campaign-donate-item campaign-goal">
                                        <h3>$<span class="counter">3000</span></h3>
                                        <p>goal</p>
                                    </div>
                                </div>
                                <!-- Campaign Donate Content End -->
                            </div>
                            <!-- Campaign Donate Box End -->
    
                            <!-- Campaign Entry Content Start -->
                            <div class="campaign-entry">
                                <h2 class="text-anime-style-2" data-cursor="-opaque"><div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">D</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">o</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">n</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">a</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">t</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">e</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">f</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">o</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">r</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">K</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">i</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">d</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">'</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">s</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">S</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">p</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">o</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">r</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">t</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">s</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">A</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">c</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">t</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">i</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">v</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">i</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">t</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">i</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">e</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">s</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">T</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">o</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">d</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">a</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">y</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">!</div></div></h2>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Support our kids by donating to our church's sports activities program. Your contributions provide equipment, uniforms, and opportunities for children to participate in healthy, fun, and team-building activities. Help us promote fitness, teamwork, and community spirit among our youth. Every donation makes a difference. Thank you for your generosity!</p>
                                <p class="wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">we can ensure every child has the chance to participate and grow. Every donation, big or small, makes a significant impact. Thank you for helping us nurture the physical and spiritual well-being of our children!</p>
                                <ul class="wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                                    <li>Help kids participate in fun, healthy activities.</li>
                                    <li>Teach kids valuable skills in cooperation.</li>
                                    <li>Your donations fund essential sports gear.</li>
                                    <li>Strengthen the bonds within our church.</li>
                                    <li>Encourage physical activity and a healthy lifestyle.</li>
                                    <li>Ensure all children have the opportunity to join.</li>
                                </ul>
    
                                <!-- Campaign Entry Gallery Start -->
                                <div class="campaign-entry-gallery">
                                    <div class="row gallery-items">
                                        <div class="col-lg-3 col-6">
                                            <!-- Image gallery start -->
                                            <div class="campaign-gallery wow fadeInUp" data-wow-delay="0.2s" data-cursor-text="View" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                                <a href="images/campaign-gallery-1.jpg">
                                                    <figure class="image-anime">
                                                        <img src="images/campaign-gallery-1.jpg" alt="img">
                                                    </figure>
                                                </a>
                                            </div>
                                            <!-- Image gallery end -->
                                        </div>
                    
                                        <div class="col-lg-3 col-6">
                                            <!-- Image gallery start -->
                                            <div class="campaign-gallery wow fadeInUp" data-wow-delay="0.4s" data-cursor-text="View" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                                <a href="images/campaign-gallery-2.jpg">
                                                    <figure class="image-anime">
                                                        <img src="images/campaign-gallery-2.jpg" alt="img">
                                                    </figure>
                                                </a>
                                            </div>
                                            <!-- Image gallery end -->
                                        </div>
                    
                                        <div class="col-lg-3 col-6">
                                            <!-- Image gallery start -->
                                            <div class="campaign-gallery wow fadeInUp" data-wow-delay="0.6s" data-cursor-text="View" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                                                <a href="images/campaign-gallery-3.jpg">
                                                    <figure class="image-anime">
                                                        <img src="images/campaign-gallery-3.jpg" alt="img">
                                                    </figure>
                                                </a>
                                            </div>
                                            <!-- Image gallery end -->
                                        </div>
                    
                                        <div class="col-lg-3 col-6">
                                            <!-- Image gallery start -->
                                            <div class="campaign-gallery wow fadeInUp" data-wow-delay="0.8s" data-cursor-text="View" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                                                <a href="images/campaign-gallery-4.jpg">
                                                    <figure class="image-anime">
                                                        <img src="images/campaign-gallery-4.jpg" alt="img">
                                                    </figure>
                                                </a>
                                            </div>
                                            <!-- Image gallery end -->
                                        </div>                                   
                                    </div>
                                </div>
                                <!-- Campaign Entry Gallery End -->
                            </div>
                            <!-- Campaign Entry Content End -->
    
                            <!-- Campaign Single Faqs Start -->
                            <div class="campaign-single-faqs">
                                <!-- Section Title Start -->
                                <div class="section-title">
                                    <h2 class="text-anime-style-2" data-cursor="-opaque"><div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">O</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">u</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">r</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">C</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">o</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">r</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">e</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">V</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">a</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">l</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">u</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">e</div></div></h2>
                                </div>
                                <!-- Section Title End -->
    
                                <!-- Core Value FAQ Accordion Start -->
                                <div class="core-value-faqs-accordion" id="accordion">
                                    <!-- FAQ Item Start -->
                                    <div class="accordion-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Why is faith a core value?
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                <p>We demonstrate love through compassionate service, supportive relationships, and inclusive community practices.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FAQ Item End -->
    
                                    <!-- FAQ Item Start -->
                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                How does the church demonstrate love?
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                <p>We demonstrate love through compassionate service, supportive relationships, and inclusive community practices.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FAQ Item End -->
    
                                    <!-- FAQ Item Start -->
                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                How is community fostered within the church?
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                <p>We demonstrate love through compassionate service, supportive relationships, and inclusive community practices.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FAQ Item End -->
    
                                    <!-- FAQ Item Start -->
                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">
                                        <h2 class="accordion-header" id="headingfour">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                                What is the importance of spiritual growth?
                                            </button>
                                        </h2>
                                        <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                <p>We demonstrate love through compassionate service, supportive relationships, and inclusive community practices.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FAQ Item End -->
    
                                    <!-- FAQ Item Start -->
                                    <div class="accordion-item wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">
                                        <h2 class="accordion-header" id="headingfive">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                                How do these values shape church activities?
                                            </button>
                                        </h2>
                                        <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                <p>We demonstrate love through compassionate service, supportive relationships, and inclusive community practices.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FAQ Item End -->
                                </div>
                                <!-- Core Value FAQ Accordion End -->
                            </div>
                            <!-- Service Single Faqs End -->
    
                            <!-- Sermons Social Sharing Start  -->
                            <div class="sermons-social-sharing wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                <div class="sermons-social-sharing-title">
                                    <h3>Share This Sermon :</h3>
                                </div>
                                <div class="sermons-social-sharing-list">
                                    <ul>
                                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Sermons Social Sharing End  -->
                        </div>
                    </div>
    
                    <div class="col-lg-4">
                        <div class="campaign-single-sidebar">
                            <div class="campaign-sidebar-title">
                                <h3 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><span>give</span> today</h3>
                                <p class="wow fadeInUp" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">Every time you give to find Faith Church, you're helping fulfill the mission.</p>
                            </div>
                            <div class="campaign-donate-form">
                                <form id="donateForm" action="#" method="POST">
                                    <div class="campaign-donate-value">
                                        <div class="form-group mb-4">
                                            <input type="text" name="text" class="form-control" id="text" placeholder="donate now ..." required="">
                                            <div class="help-block with-errors"></div>
                                        </div>
        
                                        <fieldset class="donate-value-box">                                  
                                            <div class="donate-value">
                                              <input type="radio" id="value1" name="value" value="value1" checked="">
                                              <label for="value1">$ 100.00</label>
                                            </div>
                                          
                                            <div class="donate-value">
                                              <input type="radio" id="value2" name="value" value="value2">
                                              <label for="value2">$ 200.00</label>
                                            </div>
                                          
                                            <div class="donate-value">
                                              <input type="radio" id="value3" name="value" value="value3">
                                              <label for="value3">$ 300.00</label>
                                            </div>
                                            
                                            <div class="donate-value">
                                                <input type="radio" id="value4" name="value" value="value4" checked="">
                                                <label for="value4">$ 400.00</label>
                                            </div>
                                            
                                            <div class="donate-value">
                                                <input type="radio" id="value5" name="value" value="value5">
                                                <label for="value5">$ 500.00</label>
                                            </div>
                                            
                                            <div class="donate-value">
                                                <input type="radio" id="value6" name="value" value="value6">
                                                <label for="value6">$ 600.00</label>
                                            </div>
                                        </fieldset>
                                    </div>                                
    
                                    <div class="donate-payment-method">
                                        <div class="payment-method-title">
                                            <h3>select payment method</h3>
                                        </div>
                                        <div class="donate-payment-type">
                                            <div class="payment-method">
                                                <input type="radio" id="test" name="payment" value="Test" checked="">
                                                <label for="test">test donation</label>
                                            </div>                                      
                                            <div class="payment-method">
                                                <input type="radio" id="Offline" name="payment" value="Offline">
                                                <label for="Offline">offline donation</label>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="donar-personal-info">
                                        <div class="row">
                                            <div class="form-group col-6 mb-3">
                                                <input type="text" name="name" class="form-control" id="fname" placeholder="First Name" required="">
                                            </div>
            
                                            <div class="form-group col-6 mb-3">
                                                <input type="text" name="name" class="form-control" id="lname" placeholder="Last Name" required="">
                                            </div>
        
                                            <div class="form-group mb-3">
                                                <input type="email" name="email" class="form-control" id="email" placeholder="Email Address" required="">
                                            </div>
        
                                            <div class="donar-personal-form-account">
                                                <div class="donar-personal-create-account">
                                                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                                    <label for="vehicle1">create account</label>
                                                </div>
                                                <div class="donar-personal-login-account">
                                                    <p>Already Have Account? <a href="#">login</a></p>
                                                </div>                                            
                                            </div>
                                        </div>                                    
                                    </div>
    
                                    <div class="form-group-btn">
                                        <button type="submit" class="btn-default">donate now</button>
                                        <div id="msgSubmit" class="h3 hidden"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/head/footer.ejs'); %>

    </body>
</html>