<!DOCTYPE html>
<html class="no-js" lang="en">

<%- include('partials/head/header.ejs'); %>
    <body>

        <%- include('partials/head/menubar.ejs'); %>

        <div class="page-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="page-header-box">
                            <h1 class="text-anime-style-2" data-cursor="-opaque">Our Event</h1>
                            <nav class="wow fadeInUp">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Event</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="page-service-single">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="service-single-content">
                            <div class="service-single-slider">
                                
                                                <figure>
                                                    <img style="width: 100%;" src="calendar.jpg" alt="">
                                                </figure>
                                            
                                    
                            </div>
                            <div class="service-entry">
                                <h2 class="text-anime-style-2" data-cursor="-opaque" style="font-size: 20px; font-style: normal;">Mid-Week Bible Forum – Every Wednesday – 6:30pm – 7:30pm</h2>
                                <h2 class="text-anime-style-2" data-cursor="-opaque" style="font-size: 20px;">Night Vigil– Every Friday – 10:00pm – 12:00am</h2>
                                <h2 class="text-anime-style-2" data-cursor="-opaque" style="font-size: 20px;">Winners Prayer Meeting – Tuesday Fortnightly – 7:00pm – 8:00pm</h2>
                                <h2 class="text-anime-style-2" data-cursor="-opaque" style="font-size: 20px;">Other Programmes as Holy Spirit Continues to Direct.</h2>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/head/footer.ejs'); %>

    </body>
</html>