<!DOCTYPE html>
<html class="no-js" lang="en">

<%- include('partials/head/header.ejs'); %>
    <body>

        <%- include('partials/head/menubar.ejs'); %>
        
        <main class="fix">

            <section class="page-header" data-background="assets/images/home2/hero-2-bg.png">
                <div class="container">
                    <div class="row">
                        <h1 class="mb-2 text-white">Our Gallery</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Photo Gallery</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </section>


            <section class="section-padding">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <div class="w-lg-50">
                                <h2 class="fw-normal mb-4">
                                    Exploring Our Sacred Spaces A Journey Through Faith
                                </h2>
                            </div>
                            <div class="d-flex flex-wrap gap-2 mb-4 filter-menu-active">
                                <button data-filter="*" class="btn rounded-5 btn-tag-outline active">Show All</button>
                                <button data-filter=".cat1" class="btn rounded-5 btn-tag-outline">
                                    <span>Moments</span>
                                </button>
                                <button data-filter=".cat2" class="btn rounded-5 btn-tag-outline">
                                    <span>Spaces</span>
                                </button>
                                <button data-filter=".cat3" class="btn rounded-5 btn-tag-outline">
                                    <span>Gatherings</span>
                                </button>
                                <button data-filter=".cat4" class="btn rounded-5 btn-tag-outline">
                                    <span>Reflections</span>
                                </button>
                                <button data-filter=".cat5" class="btn rounded-5 btn-tag-outline">
                                    <span>Worship</span>
                                </button>
                                <button data-filter=".cat6" class="btn rounded-5 btn-tag-outline">
                                    <span>Sanctuaries</span>
                                </button>
                                <button data-filter=".cat7" class="btn rounded-5 btn-tag-outline">
                                    <span>Fellowship</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row gy-60 gx-60 justify-content-between masonary-active">
                        <div class="col-lg-6 col-md-6 col-12 filter-item mb-lg-5 mb-4 cat1 cat3 cat7">
                            <div class="project-card-item8 shine-animate-item">
                                <div class="project-card-thumb">
                                    <a class="shine-animate" href="#">
                                        <img class="w-100 rounded" src="1.jpg" alt="Blessed">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 filter-item mb-lg-5 mb-4 cat2 cat3 cat6">
                            <div class="project-card-item8 shine-animate-item">
                                <div class="project-card-thumb">
                                    <a class="shine-animate" href="#">
                                        <img class="w-100 rounded" src="2.jpg" alt="Blessed">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 filter-item mb-lg-5 mb-4 cat1 cat5 cat3">
                            <div class="project-card-item8 shine-animate-item">
                                <div class="project-card-thumb">
                                    <a class="shine-animate" href="#">
                                        <img class="w-100 rounded" src="3.jpg" alt="Blessed">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 filter-item mb-lg-5 mb-4 cat1 cat3 cat7 cat2 cat4">
                            <div class="project-card-item8 shine-animate-item">
                                <div class="project-card-thumb">
                                    <a class="shine-animate" href="#">
                                        <img class="w-100 rounded" src="4.jpg" alt="Blessed">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 filter-item mb-lg-5 mb-4 cat1 cat3 cat4 cat5">
                            <div class="project-card-item8 shine-animate-item">
                                <div class="project-card-thumb">
                                    <a class="shine-animate" href="#">
                                        <img class="w-100 rounded" src="5.jpg" alt="Blessed">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 filter-item mb-lg-5 mb-4 cat1 cat-5 cat3">
                            <div class="project-card-item8 shine-animate-item">
                                <div class="project-card-thumb">
                                    <a class="shine-animate" href="#">
                                        <img class="w-100 rounded" src="6.jpg" alt="Blessed">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    



                </div>
            </section>

        </main>

        <%- include('partials/head/footer.ejs'); %>

    </body>
</html>