<!DOCTYPE html>
<html class="no-js" lang="en">
    <%- include('partials/head/header.ejs'); %>
    <body>

        <%- include('partials/head/menubar.ejs'); %>
        <main class="fix">

            
            <!-- <section class="banner-area">
                <div>
                    <div id="carouselExampleCaptions" class="carousel slide">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="1.jpg" class="d-block w-100" style="height: 95vh" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>First slide label</h5>
                              <p>Some representative placeholder content for the first slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="2.jpg" style="height: 95vh" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Second slide label</h5>
                              <p>Some representative placeholder content for the second slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="3.jpg" style="height: 95vh" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Third slide label</h5>
                              <p>Some representative placeholder content for the third slide.</p>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </section> -->

            
            <section class="home1-section2" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 pt-80">
                            <h2 class="ds-3 fw-normal" data-aos="fade-up">Welcome to the Family</h2>
                            <p class="fs-6" data-aos="fade-up">
                               Christ Gospel Assembly is a registered Christian religious charity organisation situated at Tilbury Town in Thurrock Essex, United Kingdom.
                            </p>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <img src="assets/images/home1/img-1.png" alt="Blessed" data-aos="flip-left">
                                    <h5 class="mt-4 fw-medium">Our Vision Statement</h5>
                                    <p data-aos="fade-up">
                                        To expand the Kingdom of God in preparation for the second coming of Christ through the impartation of the Word.
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <img src="assets/images/home1/img-2.png" alt="Blessed" data-aos="flip-left">
                                    <h5 class="mt-4 fw-medium">Our Mision Statement</h5>
                                    <p data-aos="fade-up">
                                        Relentless evangelism and impartation of the Word of God, through sound teaching and effective prayers.
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <img src="assets/images/home1/img-1.png" alt="Blessed" data-aos="flip-left">
                                    <h5 class="mt-4 fw-medium">Our Statement of Belief</h5>
                                    <p data-aos="fade-up">
                                        God is the Creator and Ruler of the universe. Jesus Christ is the Son of God. The Holy Spirit is co-equal with the Father and the Son.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="z-3 up-event-cover rounded-3">
                                <div class="up-event shadow-1 position-relative">
                                    <h4 class="mb-2">Upcoming Events</h4>
                                    <ul class="events-list p-0">
                                        <li class="pt-3 pb-3" data-aos="fade-up">
                                            <div class="d-flex gap-3">
                                                <div class="event-date rounded-1 text-center">
                                                    <h4 class="date mb-0 lh-1">29</h4>
                                                    <span class="fs-8">Jan</span>
                                                    <span class="fs-8">2025</span>
                                                </div>
                                                <div class="content">
                                                    <p class="fs-6 mb-1">
                                                        <a href="event-details.html" class="text-black">Wednesday Bible Study: We meet every Wednesday of the week to study the Word</a>
                                                    </p>
                                                    <span class="event-meta fs-8">
                                                        <i class="fa fa-clock me-1"></i>
                                                        7:00 pm – 8:00 pm
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="pt-3 pb-3" data-aos="fade-up">
                                            <div class="d-flex gap-3">
                                                <div class="event-date rounded-1 text-center">
                                                    <h4 class="date mb-0 lh-1">31</h4>
                                                    <span class="fs-8">Jan</span>
                                                    <span class="fs-8">2025</span>
                                                </div>
                                                <div class="content">
                                                    <p class="fs-6 mb-1">
                                                        <a href="event-details.html" class="text-black">Friday Weekly Vigil: We meet for vigil every Friday of the week</a>
                                                    </p>
                                                    <span class="event-meta fs-8">
                                                        <i class="fa fa-clock me-1"></i>
                                                        10:00 pm – 12:00 am
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="pt-3 pb-3" data-aos="fade-up">
                                            <div class="d-flex gap-3">
                                                <div class="event-date rounded-1 text-center">
                                                    <h4 class="date mb-0 lh-1">01</h4>
                                                    <span class="fs-8">Feb</span>
                                                    <span class="fs-8">2025</span>
                                                </div>
                                                <div class="content">
                                                    <p class="fs-6 mb-1">
                                                        <a href="event-details.html" class="text-black">Evangelism (Saturday Fortnightly): We meet for evangelism on Saturday twice in a month
                                                            Conference</a>
                                                    </p>
                                                    <span class="event-meta fs-8">
                                                        <i class="fa fa-clock me-1"></i>
                                                        10:00 am – 12:00 pm
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="pt-3 pb-3">
                                            <div class="d-flex gap-3">
                                                <div class="event-date rounded-1 text-center">
                                                    <h4 class="date mb-0 lh-1">02</h4>
                                                    <span class="fs-8">Feb</span>
                                                    <span class="fs-8">2025</span>
                                                </div>
                                                <div class="content">
                                                    <p class="fs-6 mb-1">
                                                        <a href="#" class="text-black">Sunday Service: Unity
                                                            We meet every Sunday for fellowship</a>
                                                    </p>
                                                    <span class="event-meta fs-8">
                                                        <i class="fa fa-clock me-1"></i>
                                                        10:00 am – 12:30 pm
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                    <a href="#" class="btn btn-full" data-aos="fade-up">View More Events</a>
                                    <img class="position-absolute top-0 right-5 tag" src="assets/images/home1/img-4.png" alt="Blessed">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-animation">
                    <img src="assets/images/home1/img-3.png" alt="Blessed" data-aos="fade-right" data-aos-delay="400" class="aos-init aos-animate img-bg">
                </div>
            </section>
            <section class="home1-section3 position-relative" id="sermons-section">
                <div class="container">
                    <div class="row mb-5 align-items-end d-flex align-items-center">
                        <div class="col-lg-10 col-md-8 mb-3 mb-lg-0">
                            <div class="d-flex flex-column flex-xl-row gap-xl-5 align-items-xl-end">
                                <div class="section-title tg-heading-subheading animation-style3">
                                    <span class="sub-title">Sacred Teachings</span>
                                    <h5 class="title tg-element-title">Explore Our Sermons</h5>
                                </div>
                                <p class="fs-5 w-lg-50 mb-0">
                                    Delve into the Heart of Spiritual Insight with Our Thought-Provoking Sermons
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 d-none d-md-block">
                            <div class="d-flex justify-content-end align-items-end">
                                <div class="swiper-button-prev swiper-button-prev-style-1 swiper-button-prev-animate">
                                    <i class="size-24" data-feather="arrow-left"></i>
                                </div>
                                <div class="swiper-button-next swiper-button-next-style-1 swiper-button-next-animate">
                                    <i class="size-24" data-feather="arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-12 position-relative">
                            <div class="box-swiper-padding">
                                <div class="swiper-container blessed-sermon-slider-one">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="postion-relative">
                                                <div class="project__item-four">
                                                    <div class="project__thumb-four">
                                                        <a href="#"><img src="pic-1.jpg" alt="Blessed"></a>
                                                    </div>
                                                    <div class="project__content-four">
                                                        <div class="left-content">
                                                            <h4 class="title text-white">
                                                                <a href="#">Preaching Worship An Online Family</a>
                                                            </h4>
                                                            <p class="fs-7 text-white des">
                                                                In the depths of our souls lies an eternal yearning, a longing to
                                                                connect with something greater than ourselves.
                                                            </p>
                                                            <span>Sermon By: Jackson West</span>
                                                        </div>
                                                        <div class="more-details d-flex gap-2 mt-4">
                                                            <div class="icons d-flex gap-2 align-items-center">
                                                                <a href="https://www.youtube.com/watch?v=QIjIvvHGJ9E" target="_blank" title="Watch Now"><i class="fab fa-youtube"></i></a>
                                                                <a href="https://soundcloud.com/janmorgenstern/sets/big-buck-bunny" title="listen audio" target="_blank"><i class="fas fa-headphones"></i></a>

                                                                <a href="assets/sample-zip/sample-zip-file.zip" title="Download" download=""><i class="fas fa-cloud-download-alt"></i></a>

                                                                <a href="assets/sample-pdf/sermon.pdf" title="Download PDF" download><i class="far fa-file-pdf"></i></a>

                                                            </div>
                                                            <a href="#" class="btn d-flex gap-1 btn-rounded-1">
                                                                <span>View Details</span>
                                                                <i class="size-12" data-feather="arrow-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="postion-relative">
                                                <div class="project__item-four">
                                                    <div class="project__thumb-four">
                                                        <a href="#"><img src="pic-2.jpg" alt="Blessed"></a>
                                                    </div>
                                                    <div class="project__content-four">
                                                        <div class="left-content">
                                                            <h4 class="title text-white">
                                                                <a href="#">Preaching Worship An Online Family</a>
                                                            </h4>
                                                            <p class="fs-7 text-white des">
                                                                In the depths of our souls lies an eternal yearning, a longing to
                                                                connect with something greater than ourselves.
                                                            </p>
                                                            <span>Sermon By: Jackson West</span>
                                                        </div>
                                                        <div class="more-details d-flex gap-2 mt-4">
                                                            <div class="icons d-flex gap-2 align-items-center">
                                                                <a href="https://www.youtube.com/watch?v=QIjIvvHGJ9E" target="_blank" title="Watch Now"><i class="fab fa-youtube"></i></a>
                                                                <a href="https://soundcloud.com/janmorgenstern/sets/big-buck-bunny" title="listen audio" target="_blank"><i class="fas fa-headphones"></i></a>

                                                                <a href="assets/sample-zip/sample-zip-file.zip" title="Download" download=""><i class="fas fa-cloud-download-alt"></i></a>

                                                                <a href="assets/sample-pdf/sermon.pdf" title="Download PDF" download><i class="far fa-file-pdf"></i></a>

                                                            </div>
                                                            <a href="#" class="btn d-flex gap-1 btn-rounded-1">
                                                                <span>View Details</span>
                                                                <i class="size-12" data-feather="arrow-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="postion-relative">
                                                <div class="project__item-four">
                                                    <div class="project__thumb-four">
                                                        <a href="#"><img src="assets/images/home1/sermons-3.png" alt="Blessed"></a>
                                                    </div>
                                                    <div class="project__content-four">
                                                        <div class="left-content">
                                                            <h4 class="title text-white">
                                                                <a href="#">Sunday Sermon from the Church</a>
                                                            </h4>
                                                            <p class="fs-7 text-white des">
                                                                In the depths of our souls lies an eternal yearning, a longing to
                                                                connect with something greater than ourselves.
                                                            </p>
                                                            <span>Sermon By: Jackson West</span>
                                                        </div>
                                                        <div class="more-details d-flex gap-2 mt-4">
                                                            <div class="icons d-flex gap-2 align-items-center">
                                                                <a href="https://www.youtube.com/watch?v=QIjIvvHGJ9E" target="_blank" title="Watch Now"><i class="fab fa-youtube"></i></a>
                                                                <a href="https://soundcloud.com/janmorgenstern/sets/big-buck-bunny" title="listen audio" target="_blank"><i class="fas fa-headphones"></i></a>

                                                                <a href="assets/sample-zip/sample-zip-file.zip" title="Download" download=""><i class="fas fa-cloud-download-alt"></i></a>

                                                                <a href="assets/sample-pdf/sermon.pdf" title="Download PDF" download><i class="far fa-file-pdf"></i></a>

                                                            </div>
                                                            <a href="#" class="btn d-flex gap-1 btn-rounded-1">
                                                                <span>View Details</span>
                                                                <i class="size-12" data-feather="arrow-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="postion-relative">
                                                <div class="project__item-four">
                                                    <div class="project__thumb-four">
                                                        <a href="#"><img src="assets/images/home1/sermons-4.png" alt="Blessed"></a>
                                                    </div>
                                                    <div class="project__content-four">
                                                        <div class="left-content">
                                                            <h4 class="title text-white">
                                                                <a href="#">Christmas Doing God’s Will Better</a>
                                                            </h4>
                                                            <p class="fs-7 text-white des">
                                                                In the depths of our souls lies an eternal yearning, a longing to
                                                                connect with something greater than ourselves.
                                                            </p>
                                                            <span>Sermon By: Jackson West</span>
                                                        </div>
                                                        <div class="more-details d-flex gap-2 mt-4">
                                                            <div class="icons d-flex gap-2 align-items-center">
                                                                <a href="https://www.youtube.com/watch?v=QIjIvvHGJ9E" target="_blank" title="Watch Now"><i class="fab fa-youtube"></i></a>
                                                                <a href="https://soundcloud.com/janmorgenstern/sets/big-buck-bunny" title="listen audio" target="_blank"><i class="fas fa-headphones"></i></a>

                                                                <a href="assets/sample-zip/sample-zip-file.zip" title="Download" download=""><i class="fas fa-cloud-download-alt"></i></a>

                                                                <a href="assets/sample-pdf/sermon.pdf" title="Download PDF" download><i class="far fa-file-pdf"></i></a>

                                                            </div>
                                                            <a href="#" class="btn d-flex gap-1 btn-rounded-1">
                                                                <span>View Details</span>
                                                                <i class="size-12" data-feather="arrow-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="postion-relative">
                                                <div class="project__item-four">
                                                    <div class="project__thumb-four">
                                                        <a href="#"><img src="assets/images/home1/sermons-5.png" alt="Blessed"></a>
                                                    </div>
                                                    <div class="project__content-four">
                                                        <div class="left-content">
                                                            <h4 class="title text-white">
                                                                <a href="#">Christmas Doing God’s Will Better</a>
                                                            </h4>
                                                            <p class="fs-7 text-white des">
                                                                In the depths of our souls lies an eternal yearning, a longing to
                                                                connect with something greater than ourselves.
                                                            </p>
                                                            <span>Sermon By: Jackson West</span>
                                                        </div>
                                                        <div class="more-details d-flex gap-2 mt-4">
                                                            <div class="icons d-flex gap-2 align-items-center">
                                                                <a href="https://www.youtube.com/watch?v=QIjIvvHGJ9E" target="_blank" title="Watch Now"><i class="fab fa-youtube"></i></a>
                                                                <a href="https://soundcloud.com/janmorgenstern/sets/big-buck-bunny" title="listen audio" target="_blank"><i class="fas fa-headphones"></i></a>

                                                                <a href="assets/sample-zip/sample-zip-file.zip" title="Download" download=""><i class="fas fa-cloud-download-alt"></i></a>

                                                                <a href="assets/sample-pdf/sermon.pdf" title="Download PDF" download><i class="far fa-file-pdf"></i></a>

                                                            </div>
                                                            <a href="#" class="btn d-flex gap-1 btn-rounded-1">
                                                                <span>View Details</span>
                                                                <i class="size-12" data-feather="arrow-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center mt-3">
                            <div class="blessed-sermon-slider-one-pagination"></div>
                        </div>
                    </div>
                </div>
                <div class="wrap-asset position-absolute top-50 left-5 ms-5">
                    <img class="alltuchtopdown" src="assets/images/sermon-details/cornflower-bgr.png" alt="Blessed">
                </div>
            </section>


            <section class="section-4">
                <div class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="sec4 py-5 d-flex align-items-center justify-content-between">
                                    <div class="content d-flex align-items-center gap-4">
                                        <img src="assets/images/home1/img-sec4.png" alt="Blessed" data-aos="zoom-in">
                                        <h4 class="d-sm-inline-flex text-white mb-0 fw-normal animation-style3" data-aos="flip-up">
                                            “Pray! And listen to God! You can do this alone, but find somebody to do it with you”
                                        </h4>
                                    </div>
                                    <a href="#" class="btn mt-4 mt-xl-0 btn-white rounded-5 btn-circle-arrow" data-aos="flip-down">
                                        <span class="text">Donation Now</span>
                                        <span class="bg-transparent ms-2">
                                            <i class="size-16" data-feather="arrow-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Blessed Donation Section
            ============================= -->
            <section class="section-5 position-relative">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 d-flex align-content-start flex-wrap pe-lg-4">
                            <div class="d-flex gap-5 align-items-end" data-aos="fade-up">
                                <div class="section-title">
                                    <span class="sub-title">This April</span>
                                </div>
                            </div>
                            <h2 class="fw-normal" data-aos="fade-up">Make a Donation & Become a Part of Something Great</h2>
                            <p data-aos="fade-up">
                                We enjoy being a multi-denominational church where we work together, worship together, and grow
                                together.
                            </p>
                            <p class="mb-5" data-aos="fade-up">
                                People and children of all ages here are encouraged to learn about their own faith and the role of
                                the church in our community and worldwide.
                            </p>
                            <a href="#" class="btn text-white rounded-5 btn-circle-arrow" data-aos="flip-up">
                                <span>Donation Now</span>
                                <span class="bg-transparent ms-2">
                                    <i class="size-16" data-feather="arrow-right"></i>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-6 ps-lg-4 pt-lg-0 pt-5">
                            <img style="height: 500px" class="img-donation" src="chrismas.jpg" data-aos="fade-zoom-in" alt="Blessed">
                            <div class="text-box position-relative d-flex align-items-center" data-parallax='{"x" : 50 , "y" : -50 }'>
                                <h1 class="mb-0 p-4">90</h1>
                                <p class="mb-0 has-left-line">Children were helped this week</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap-asset position-absolute">
                    <img class="alltuchtopdown" src="assets/images/home1/img-sec-5.png" alt="Blessed">
                </div>
            </section>

            <!-- Blessed Worship Section
            ============================ -->
            <section class="section-6 position-relative">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 pe-lg-4">
                            <div class="position-relative">
                                <div class="background">
                                    <img src="pic-3.jpg" alt="Blessed" data-aos="fade-zoom-in">
                                </div>
                                <div class="card-float position-absolute br-4 alltuchtopdown">
                                    <div class="card-float-top rounded-top-1">
                                        <img class="mb-2" src="assets/images/home1/book-card-sec6.png" alt="Blessed" data-aos="fade-up">
                                        <p class="mb-0 pt-2 fs-7 text-dark">Reach out to us for support, counseling, or prayer.</p>
                                    </div>
                                    <div class="rounded-bottom-1 card-float-bot d-flex align-items-center justify-content-center">
                                        <p class="text-white mb-0">Start Your Journey</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-content-start flex-wrap pt-lg-0 pt-5 ps-lg-4">
                            <div class="d-flex gap-5 align-items-end" data-aos="fade-up">
                                <div class="section-title">
                                    <span class="sub-title">Experience Serenity</span>
                                </div>
                            </div>
                            <h2 class="fw-normal ds-5" data-aos="fade-up">Experience The Uplifting Power of Communal Worship</h2>
                            <p class="fs-6" data-aos="fade-up">
                                Join our congregation for inspiring services filled with music, prayer, and spiritual reflection.
                                Become an active part of our vibrant community. Volunteer for our various committees, participate in
                                social activities, or lend your talents to our worship services.
                            </p>
                            <a href="tel:2295550109" class="pt-2 d-flex align-items-center" data-aos="flip-up">
                                <span class="icon text-white me-4">
                                    <i class="size-26" data-feather="users"></i>
                                </span>
                                <div class="contact">
                                    <p class="fw-light fs-6 mb-2">Do you have any question?</p>
                                    <p class="fs-3 mb-0 phone-num">(+44) (0)1375844355</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="wrap-asset position-absolute">
                    <img src="assets/images/home1/img-sec-6.png" alt="Blessed" data-parallax='{"x" : 100 , "y" : -200 }'>
                </div>
            </section>

            <!-- Blessed Donation Call to Action Section
            ============================================ -->
            <section class="section-7">
                <div class="container-fluid">
                    <div class="row">
                        <div class="container">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-center flex-column mb-3">
                                    <h4 class="text-white mb-0 fw-normal text-center ds-5 w-80 mb-4" data-aos="flip-up">
                                        "Pray! Tune into God's voice! While you can pray alone, seek companionship in your spiritual
                                        journey."
                                    </h4>
                                    <div class="d-flex gap-2" data-aos="flip-up">
                                        <a href="javascript:" class="btn text-white rounded-5 btn-circle-arrow menu-tigger">
                                            <span>Request A Prayer</span>
                                            <span class="bg-transparent ms-2">
                                                <i class="size-16" data-feather="arrow-right"></i>
                                            </span>
                                        </a>
                                        <a href="#" class="btn btn-white rounded-5 btn-circle-arrow" data-aos="flip-up">
                                            <span class="text">Donation Now</span>
                                            <span class="bg-transparent ms-2">
                                                <i class="size-16" data-feather="arrow-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Counter Section
            ==================== -->
            <section class="counter-area">
                <div class="container">
                    <div class="inner">
                        <div class="row justify-content-center">
                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-md-3">
                                <div class="counter-item-cover counter-item" data-aos="flip-up">
                                    <div class="content text-center mx-auto">
                                        <h2 class="count"><span class="odometer" data-count="25"></span>+</h2>
                                        <h4 class="mb-0" data-aos="flip-up">Sermons</h4>
                                        <p class="fs-6" data-aos="flip-up">Every week</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-md-3">
                                <div class="counter-item-cover counter-item" data-aos="flip-up">
                                    <div class="content text-center mx-auto">
                                        <h2 class="count"><span class="odometer" data-count="14"></span>+</h2>
                                        <h4 class="mb-0" data-aos="flip-up">Campuses</h4>
                                        <p class="fs-6" data-aos="flip-up">Every week</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="counter-item-cover counter-item" data-aos="flip-up">
                                    <div class=" content text-center mx-auto">
                                        <h2 class="count"><span class="odometer" data-count="12"></span>+</h2>
                                        <h4 class="mb-0" data-aos="flip-up">Pastors</h4>
                                        <p class="fs-6" data-aos="flip-up">Every week</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="counter-item-cover counter-item" data-aos="flip-up">
                                    <div class=" content text-center mx-auto">
                                        <h2 class="count"><span class="odometer" data-count="52"></span>+</h2>
                                        <h4 class="mb-0" data-aos="flip-up">Groups</h4>
                                        <p class="fs-6" data-aos="flip-up">Every week</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Our Team Section
            ===================== -->
            <section class="position-relative">
                <div class="container">

                    <div class="row mb-5 align-items-end align-items-center">
                        <div class="col-lg-7 col-md-8 mb-3 mb-lg-0">
                            <div class="section-title tg-heading-subheading animation-style3">
                                <span class="sub-title">Church Ministers</span>
                                <h5 class="title tg-element-title">Get Acquainted with Our Exceptional Clergy Team</h5>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-4 d-none d-md-block">
                            <div class="d-flex justify-content-end align-items-end">
                                <div class="swiper-button-prev swiper-button-prev-style-1 swiper-button-prev-4">
                                    <i class="size-24" data-feather="arrow-left"></i>
                                </div>
                                <div class="swiper-button-next swiper-button-next-style-1 swiper-button-next-4">
                                    <i class="size-24" data-feather="arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="pastor-sliders">

                        <div class="swiper-container blessed-team">
                            <div class="swiper-wrapper pt-2">
                                <div class="swiper-slide hover-up">
                                    <div class="team-style-01 team-style-02">
                                        <figure class="mb-0 position-relative">
                                            <a href="#">
                                                <img style="height: 320px" src="pastor1.jpg" alt="Blessed">
                                            </a>
                                            <figcaption class="w-100 p-20px lg-p-25px text-center">
                                                <div class="position-relative z-3">
                                                    <p class="d-block fw-600 fs-5 text-dark mb-0">
                                                        <a href="#">Pastor Esther Ogunniyi</a>
                                                    </p>
                                                    <p class="fs-7">General Overseer</p>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="swiper-slide hover-up">
                                    <div class="team-style-01 team-style-02">
                                        <figure class="mb-0 position-relative">
                                            <a href="#">
                                                <img style="height: 320px" src="pastor2.jpg" alt="Blessed">
                                            </a>
                                            <figcaption class="w-100 p-20px lg-p-25px text-center">
                                                <div class="position-relative z-3">
                                                    <p class="d-block fw-600 fs-5 text-dark mb-0">
                                                        <a href="#">Pastor Zacchaeus Akin-Olushola</a>
                                                    </p>
                                                    <p class="fs-7">Senior Pastor</p>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="swiper-slide hover-up">
                                    <div class="team-style-01 team-style-02">
                                        <figure class="mb-0 position-relative">
                                            <a href="#">
                                                <img style="height: 320px" src="pastor3.jpg" alt="Blessed">
                                            </a>
                                            <figcaption class="w-100 p-20px lg-p-25px text-center">
                                                <div class="position-relative z-3">
                                                    <p class="d-block fw-600 fs-5 text-dark mb-0">
                                                        <a href="#">Minister Adebayo Oluwadare</a>
                                                    </p>
                                                    <p class="fs-7">Assistant Pastor</p>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 text-center mb-3">
                            <div class="blessed-team-pagination"></div>
                        </div>

                    </div>
                </div>
                <div class="wrap-asset position-absolute top-50 left-5 ms-5">
                    <img class="alltuchtopdown" src="assets/images/home1/img-sec-8.png" alt="Blessed">
                </div>
            </section>

            <div class="box-swiper">
                <div class="swiper-container swiper-6-items">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img style="height: 230px" src="1.jpg" alt="Blessed">
                        </div>
                        <div class="swiper-slide">
                            <img style="height: 230px" src="2.jpg" alt="Blessed">
                        </div>
                        <div class="swiper-slide">
                            <img style="height: 230px" src="3.jpg" alt="Blessed">
                        </div>
                        <div class="swiper-slide">
                            <img style="height: 230px" src="4.jpg" alt="Blessed">
                        </div>
                        <div class="swiper-slide">
                            <img style="height: 230px" src="5.jpg" alt="Blessed">
                        </div>
                        <div class="swiper-slide">
                            <img style="height: 230px" src="6.jpg" alt="Blessed">
                        </div>
                        <div class="swiper-slide">
                            <img style="height: 230px" src="7.jpg" alt="Blessed">
                        </div>
                        
                    </div>
                </div>
            </div>

            
            <div class="section-13 position-relative py-5">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-6 col-12 text-start text-xxl-start text-xl-start text-center mb-xxl-0 mb-xl-0 mb-3">
                            <h2 class=" fs-1 text-dark">Abundant Resources</h2>
                            <p class="mb-0 fw-regular fs-6">Access a wealth of spiritual resources with <br>over 56 sermons
                                available each week.
                            </p>
                        </div>
                        <div class="col-xl-6 col-12 text-end text-xxl-end text-xl-end text-lg-center text-center">
                            <div class="mt-4 mt-lg-0">
                                <a href="mailto:info@christgospelassembly.org.uk" class="btn text-white rounded-5 me-2">
                                    <span class="bg-transparent me-2">
                                        <i class="size-16" data-feather="mail"></i>
                                    </span>
                                    <span>Send Us Email</span>
                                </a>
                                <a href="tel:+44 (0)1375844355" class="btn btn-dark btn-white rounded-5">
                                    <span class="bg-transparent-sec-13 me-2">
                                        <i class="size-16" data-feather="phone"></i>
                                    </span>
                                    <span>+44 (0)1375844355</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap-asset-13 position-absolute">
                    <img class="asset-top-down" src="assets/images/home1/img-sec-13.png" alt="Blessed">
                </div>
                <div class="wrap-asset-13-1 position-absolute">
                    <img class="asset-top-down" src="assets/images/home1/img-sec-13.1.png" alt="Blessed">
                </div>
            </div>

        </main>

        
        <%- include('partials/head/footer.ejs'); %>
    </body>
</html>