<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head/header.ejs'); %>
<body>
    <%- include('partials/head/menubar.ejs'); %>
	<div class="hero hero-slider">
        <div class="hero-slider-layout">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="hero-slide">
                            <div class="hero-slider-image">
                                <img src="images/hero-bg.jpg" alt="">
                            </div>
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <div class="hero-content">
                                            <div class="section-title">
                                                <h3 class="wow fadeInUp">Obedience to jesus christ</h3>
                                                <h1 class="text-anime-style-2" data-cursor="-opaque">OUR KEY priority</h1>
                                                <p class="wow fadeInUp" data-wow-delay="0.25s">Enjoy every single moment. The good, the bad, the beautiful, by dying on a cross. He arose from the dead after three days to demonstrate His power over sin and death.  </p>
                                            </div>
                    
                                            <div class="hero-content-body wow fadeInUp" data-wow-delay="0.5s">
                                                <a href="#" class="btn-default"><span>join in person</span></a>
                                                <a href="/donate" class="btn-default btn-highlighted"><span>donate now</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="down-arrow">
                                <a href="#home-about"><i class="fa-solid fa-arrow-down-long"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="swiper-slide">
                        <div class="hero-slide">
                            <div class="hero-slider-image">
                                <img src="images/hero-bg-2.jpg" alt="">
                            </div>
                            
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <div class="hero-content">
                                            <div class="section-title">
                                                <h3 class="wow fadeInUp">Experience God’s Presence </h3>
                                                <h1 class="text-anime-style-2" data-cursor="-opaque">THE CHURCH THAT CARES </h1>
                                                <p class="wow fadeInUp" data-wow-delay="0.25s">Enjoy every single moment. The good, the bad, the beautiful, the ugly, the inspiring, the not-so-glamorous moments. and Thank God through it all. </p>
                                            </div>
                                            <div class="hero-content-body wow fadeInUp" data-wow-delay="0.5s">
                                                <a href="#" class="btn-default"><span>join in person</span></a>
                                                <a href="#" class="btn-default btn-highlighted"><span>donate now</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="down-arrow">
                                <a href="#home-about"><i class="fa-solid fa-arrow-down-long"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hero-slide">
                            <div class="hero-slider-image">
                                <img src="images/hero-bg-2.jpg" alt="">
                            </div>
                            
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <div class="hero-content">
                                            <div class="section-title">
                                                <h3 class="wow fadeInUp">We desire to please & honour God</h3>
                                                <h1 class="text-anime-style-2" data-cursor="-opaque">IN ALL THAT WE DO</h1>
                                                <p class="wow fadeInUp" data-wow-delay="0.25s">No matter who you are or where you come from, you will always find friends that are like family in Christ Gospel Assembly. We owe our continuous existence to the Grace of God that was sufficient for us. </p>
                                            </div>
                                            <div class="hero-content-body wow fadeInUp" data-wow-delay="0.5s">
                                                <a href="#" class="btn-default"><span>join in person</span></a>
                                                <a href="#" class="btn-default btn-highlighted"><span>donate now</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="down-arrow">
                                <a href="#home-about"><i class="fa-solid fa-arrow-down-long"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-pagination"></div>
            </div>
        </div>		
	</div>

    <div class="our-scrolling-ticker">
        <div class="scrolling-ticker-box">
            <div class="scrolling-content">
                <span><img src="images/icon-sparkles.svg" alt="">Love Your Neighbor as yourself</span>
                <span><img src="images/icon-sparkles.svg" alt="">Love Your Neighbor as yourself</span>
                <span><img src="images/icon-sparkles.svg" alt="">Love Your Neighbor as yourself</span>
                <span><img src="images/icon-sparkles.svg" alt="">Love Your Neighbor as yourself</span>
                <span><img src="images/icon-sparkles.svg" alt="">Love Your Neighbor as yourself</span>
            </div>

            <div class="scrolling-content">
                <span><img src="images/icon-sparkles.svg" alt="">Love Your Neighbor as yourself</span>
                <span><img src="images/icon-sparkles.svg" alt="">Love Your Neighbor as yourself</span>
                <span><img src="images/icon-sparkles.svg" alt="">Love Your Neighbor as yourself</span>
                <span><img src="images/icon-sparkles.svg" alt="">Love Your Neighbor as yourself</span>
                <span><img src="images/icon-sparkles.svg" alt="">Love Your Neighbor as yourself</span>
            </div>
        </div>
    </div>
	<div class="about-us" id="home-about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-image">
                        <div class="about-img-1">
                            <figure class="image-anime reveal">
                                <img src="images/about-us-img-1.jpg" alt="">
                            </figure>
                        </div>

                        <div class="about-img-2">
                            <figure class="image-anime reveal">
                                <img src="images/about-us-img-2.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="about-content">
                        <div class="section-title">
                            <h3 class="wow fadeInUp">about us</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Welcome to the  <span>Family</span></h2>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">Christ Gospel Assembly is a registered Christian religious charity organisation situated at Tilbury Town in Thurrock Essex, United Kingdom.</p>
                            <p class="wow fadeInUp" data-wow-delay="0.5s"><b>Our Vision Statement</b>: To expand the Kingdom of God in preparation for the second coming of Christ through the impartation of the Word.</p>
                            <p class="wow fadeInUp" data-wow-delay="0.5s"><b>Our Mision Statement</b>: Relentless evangelism and impartation of the Word of God, through sound teaching and effective prayers.</p>
                            <p class="wow fadeInUp" data-wow-delay="0.5s"><b>Our Statement of Belief</b>: God is the Creator and Ruler of the universe. Jesus Christ is the Son of God. The Holy Spirit is co-equal with the Father and the Son.</p>
                        </div>
                        <div class="about-content-body">
                            <div class="about-list-item wow fadeInUp">
                                <div class="icon-box">
                                    <img src="images/icon-about-list-1.svg" alt="">
                                </div>
                                <div class="about-list-item-content">
                                    <h3>share god's love</h3>
                                </div>
                            </div>
                            <div class="about-list-item wow fadeInUp" data-wow-delay="0.25s">
                                <div class="icon-box">
                                    <img src="images/icon-about-list-2.svg" alt="">
                                </div>
                                <div class="about-list-item-content">
                                    <h3>foster spiritual growth</h3>
                                </div>
                            </div>

                            <div class="about-list-item wow fadeInUp" data-wow-delay="0.5s">
                                <div class="icon-box">
                                    <img src="images/icon-about-list-3.svg" alt="">
                                </div>
                                <div class="about-list-item-content">
                                    <h3>serve our community</h3>
                                </div>
                            </div>
                            <div class="about-list-item wow fadeInUp" data-wow-delay="0.75s">
                                <div class="icon-box">
                                    <img src="images/icon-about-list-4.svg" alt="">
                                </div>
                                <div class="about-list-item-content">
                                    <h3>build strong relationships</h3>
                                </div>
                            </div>
                        </div>
                        <div class="about-us-footer wow fadeInUp" data-wow-delay="1s">
                            <a href="/about" class="btn-default">read more about us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="join-worship">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3 class="wow fadeInUp">worship with us</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Join us on Sunday at <span>10:00 - 12:30 AM</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="highlighted-worship-item wow fadeInUp">
                        <div class="highlighted-worship-image">
                            <figure>
                                <a href="#" class="image-anime" data-cursor-text="View">
                                    <img src="images/join-worship-img-1.jpg" alt="">
                                </a>
                            </figure>
                        </div>
                        <div class="highlighted-worship-body">
                            <div class="highlighted-worship-content">
                                <h3>Sunday Service</h3>
                                <p>We meet every Sunday for fellowship between 10:00 am – 12:30 pm</p>
                            </div>
                            <div class="highlighted-worship-btn">
                                <a href="#" class="readmore-btn"><img src="images/arrow-white.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="worship-box">
                        <div class="worship-item wow fadeInUp" data-wow-delay="0.25s">
                            <div class="worship-image">
                                <figure>
                                    <a href="#" class="image-anime" data-cursor-text="View">
                                        <img src="images/join-worship-img-2.jpg" alt="">
                                    </a>
                                </figure>
                            </div>
                            <div class="worship-body">
                                <div class="worship-content">
                                    <h3>Wednesday Bible Study</h3>
                                    <p>We meet every Wednesday of the week to study the Word between 7:00 pm – 8:00 pm.</p>
                                </div>
                                <div class="worship-btn">
                                    <a href="#" class="readmore-btn"><img src="images/arrow-white.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="worship-item wow fadeInUp" data-wow-delay="0.5s">
                            <div class="worship-image">
                                <figure>
                                    <a href="#" class="image-anime" data-cursor-text="View">
                                        <img src="images/join-worship-img-3.jpg" alt="">
                                    </a>
                                </figure>
                            </div>
                            <div class="worship-body">
                                <div class="worship-content">
                                    <h3>Friday Weekly Vigil </h3>
                                    <p>We meet for vigil every Friday of the week between 10:00 pm – 12:00 am.</p>
                                </div>
                                <div class="worship-btn">
                                    <a href="#" class="readmore-btn"><img src="images/arrow-white.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="worship-item wow fadeInUp" data-wow-delay="0.75s">
                            <div class="worship-image">
                                <figure>
                                    <a href="#" class="image-anime" data-cursor-text="View">
                                        <img src="images/join-worship-img-4.jpg" alt="">
                                    </a>
                                </figure>
                            </div>
                            <div class="worship-body">
                                <div class="worship-content">
                                    <h3>Evangelism (Saturday Fortnightly)</h3>
                                    <p>We meet for evangelism on Saturday twice in a month between 10:00 am – 12:00 pm.</p>
                                </div>
                                <div class="worship-btn">
                                    <a href="#" class="readmore-btn"><img src="images/arrow-white.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="our-counter">
        <div class="container">
            <div class="row counter-box">
                <div class="col-lg-3 col-md-6">
                    <div class="counter-item">
                        <div class="counter-title">
                            <h2><span class="counter">350</span>+</h2>
                        </div>
                        <div class="counter-content">
                            <h3>oldest member</h3>
                            <p>Our oldest member is Mary Thompson, who is 95 years old and has been attending since 1945.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="counter-item">
                        <div class="counter-title">
                            <h2><span class="counter">98</span>+</h2>
                        </div>
                        <div class="counter-content">                            
                            <h3>youth retreats</h3>
                            <p>Our oldest member is Mary Thompson, who is 95 years old and has been attending since 1945.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="counter-item">
                        <div class="counter-title">
                            <h2><span class="counter">148</span>+</h2>                            
                        </div>
                        <div class="counter-content">
                            <h3>tech workshops</h3>
                            <p>Our oldest member is Mary Thompson, who is 95 years old and has been attending since 1945.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="counter-item">
                        <div class="counter-title">
                            <h2><span class="counter">58</span>+</h2>
                        </div>
                        <div class="counter-content">
                            <h3>christmas concert</h3>
                            <p>Our oldest member is Mary Thompson, who is 95 years old and has been attending since 1945.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="our-mission">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="mission-content">
                        <div class="section-title">
                            <h3 class="wow fadeInUp">We Love God</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">We Believe in <span>God</span></h2>
                        </div>
                        <div class="mission-content-body">
                            <p class="wow fadeInUp" data-wow-delay="0.5s">We believe that God is the Creator and Ruler of the universe. He has eternally existed in three persons: the Father, the Son, and the Holy Spirit. These three are co-equal and are one God.</p>
                        </div>
                        <div class="mission-content-footer wow fadeInUp" data-wow-delay="0.75s">
                            <a href="/contact" class="btn-default">contact now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mission-image">
                        <div class="mission-img">
                            <figure class="image-anime reveal">
                                <img src="images/mission-image.jpg" alt="">
                            </figure>
                        </div>
                        <div class="mission-life-circle">
                            <img src="images/mission-life-circle-img.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="our-services">
        <div class="container">
            <div class="row section-row">
                <div class="section-title">
                    <h3 class="wow fadeInUp">services</h3>
                    <h2 class="text-anime-style-2" data-cursor="-opaque">Loving god, helping others and serving the <span>world together</span></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="service-item wow fadeInUp">
                        <div class="icon-box">
                            <img src="images/icon-service-1.svg" alt="">
                        </div>
                        <div class="service-body">
                            <p>Compassionate support for grief, relationships, and personal struggles. Join our monthly groups or schedule counseling.</p>
                        </div>
                        <div class="service-footer">
                            <div class="service-content">
                                <h3>support groups</h3>
                            </div>
                            <div class="service-btn">
                                <a href="#" class="readmore-btn"><img src="images/arrow-white.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="service-item wow fadeInUp" data-wow-delay="0.25s">
                        <div class="icon-box">
                            <img src="images/icon-service-2.svg" alt="">
                        </div>
                        <div class="service-body">
                            <p>Join us for special events, including holiday services, picnics, and community fundraisers throughout the year.</p>
                        </div>
                        <div class="service-footer">
                            <div class="service-content">
                                <h3>special events</h3>
                            </div>
                            <div class="service-btn">
                                <a href="#" class="readmore-btn"><img src="images/arrow-white.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="service-item wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon-box">
                            <img src="images/icon-service-3.svg" alt="">
                        </div>
                        <div class="service-body">
                            <p>Join our online services for live streams of Sunday worship, virtual Bible studies, and interactive prayer meetings from anywhere.</p>
                        </div>
                        <div class="service-footer">
                            <div class="service-content">
                                <h3>online services</h3>
                            </div>
                            <div class="service-btn">
                                <a href="#" class="readmore-btn"><img src="images/arrow-white.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="service-item wow fadeInUp" data-wow-delay="0.75s">
                        <div class="icon-box">
                            <img src="images/icon-service-4.svg" alt="">
                        </div>
                        <div class="service-body">
                            <p>Receive compassionate pastoral care through one-on-one counseling  and  visits, addressing spiritual needs and personal challenges with care.</p>
                        </div>
                        <div class="service-footer">
                            <div class="service-content">
                                <h3>pastoral care</h3>
                            </div>
                            <div class="service-btn">
                                <a href="#" class="readmore-btn"><img src="images/arrow-white.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
	<div class="service-ticker">
		<div class="scrolling-ticker">
            <div class="scrolling-ticker-box">
                <div class="scrolling-content">
                    <span><img src="images/icon-asterisk.svg" alt="">Hope Of All</span>					
                    <span><img src="images/icon-asterisk.svg" alt="">Hope Of All</span>				
                    <span><img src="images/icon-asterisk.svg" alt="">Hope Of All</span>				
                    <span><img src="images/icon-asterisk.svg" alt="">Hope Of All</span>				
                    <span><img src="images/icon-asterisk.svg" alt="">Hope Of All</span>				
                </div>

                <div class="scrolling-content">
                    <span><img src="images/icon-asterisk.svg" alt="">Hope Of All</span>					
                    <span><img src="images/icon-asterisk.svg" alt="">Hope Of All</span>				
                    <span><img src="images/icon-asterisk.svg" alt="">Hope Of All</span>				
                    <span><img src="images/icon-asterisk.svg" alt="">Hope Of All</span>				
                    <span><img src="images/icon-asterisk.svg" alt="">Hope Of All</span>
                </div>
            </div>
        </div>
	</div>

    <div class="our-ministries">
        <div class="container">
            <div class="row section-row">
                <div class="section-title">
                    <h3 class="wow fadeInUp">ministries</h3>
                    <h2 class="text-anime-style-2" data-cursor="-opaque">Our Latest <span>Ministries</span></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="ministries-item wow fadeInUp">
                        <div class="ministries-image" data-cursor-text="View">
                            <a href="#">
                                <figure>
                                    <img src="images/ministries-img-1.jpg" alt="">
                                </figure>
                            </a>
                        </div>

                        <div class="ministries-content">
                            <h3>CHOIR MINISTRY</h3>
                        </div>
                        <div class="ministries-btn">
                            <a href="#" class="readmore-btn"><img src="images/arrow-white.svg" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="ministries-item wow fadeInUp" data-wow-delay="0.25s">
                        <div class="ministries-image" data-cursor-text="View">
                            <a href="#">
                                <figure>
                                    <img src="images/ministries-img-2.jpg" alt="">
                                </figure>
                            </a>
                        </div>
                        <div class="ministries-content">
                            <h3>EVANGELISM MINISTRY</h3>
                        </div>
                        <div class="ministries-btn">
                            <a href="#" class="readmore-btn"><img src="images/arrow-white.svg" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="ministries-item wow fadeInUp" data-wow-delay="0.5s">
                        <div class="ministries-image" data-cursor-text="View">
                            <a href="#">
                                <figure>
                                    <img src="images/ministries-img-3.jpg" alt="">
                                </figure>
                            </a>
                        </div>
                        <div class="ministries-content">
                            <h3>PROGRESSIVE MEN MINISTRY</h3>
                        </div>
                        <div class="ministries-btn">
                            <a href="#" class="readmore-btn"><img src="images/arrow-white.svg" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="our-ministries-footer wow fadeInUp" data-wow-delay="0.75s">
                        <p>Explore the exciting new ways we are serving our community and growing together in faith with our latest ministry initiatives. <a href="/ourministries">View All Ministries</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    
    <div class="verse-church">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="verse-church-content">
                        <div class="section-title">
                            <h3 class="wow fadeInUp">verse of the day</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Life is a Church that Loves <span>God and People.</span></h2>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">Life is a church dedicated to loving God and serving people. We foster a welcoming community where faith and compassion drive everything we do, striving to make a positive impact both spiritually and socially. Join us in this journey.</p>
                        </div>
                        <div class="verse-church-btn wow fadeInUp" data-wow-delay="0.5s">
                            <a href="#" class="btn-default">donate now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    <div class="donate-now parallaxie">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-4">
                    <div class="intro-video-box">
                        <div class="video-play-button">
                            <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video" data-cursor-text="Play">
                                <i class="fa-solid fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-8">
                    <div class="donate-box">
                        <div class="section-title">
                            <h3 class="wow fadeInUp">donate now</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Support <span>Our Mission</span></h2>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">Your generous support enables to continue its mission of spreading God's love and serving our community.</p>
                        </div>
                        <div class="donate-form wow fadeInUp" data-wow-delay="0.5s">
                            <form id="donateForm" action="#" method="POST">
                                <div class="form-group mb-4">
                                    <input type="text" name="text" class="form-control" placeholder="donate now ..." required>
                                </div>

                                <fieldset class="donate-value-box">                                  
                                    <div class="donate-value">
                                        <input type="radio" id="value1" name="value" value="value1" checked>
                                        <label for="value1">£ 100.00</label>
                                      </div>
                                    
                                      <div class="donate-value">
                                        <input type="radio" id="value2" name="value" value="value2">
                                        <label for="value2">£ 200.00</label>
                                      </div>
                                    
                                      <div class="donate-value">
                                        <input type="radio" id="value3" name="value" value="value3">
                                        <label for="value3">£ 300.00</label>
                                      </div>
                                      
                                      <div class="donate-value">
                                          <input type="radio" id="value4" name="value" value="value4">
                                          <label for="value4">£ 400.00</label>
                                      </div>
                                      
                                      <div class="donate-value">
                                          <input type="radio" id="value5" name="value" value="value5">
                                          <label for="value5">£ 500.00</label>
                                      </div>
                                      
                                      <div class="donate-value">
                                          <input type="radio" id="value6" name="value" value="value6">
                                          <label for="value6">£ 600.00</label>
                                      </div>
                                </fieldset>

                                <div class="form-group-btn">
                                    <button type="submit" class="btn-default">donate now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

    <div class="our-sermons">
        <div class="container">
            <div class="row section-row">
                <div class="section-title">
                    <h3 class="wow fadeInUp">our sermons</h3>
                    <h2 class="text-anime-style-2" data-cursor="-opaque">Our Latest <span>Sermons</span></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="sermons-item wow fadeInUp">
                        <div class="sermons-image">
                            <figure>
                                <a href="#" class="image-anime" data-cursor-text="View">
                                    <img src="images/sermons-img-1.jpg" alt="">
                                </a>
                            </figure>
                            <div class="sermons-meta">
                                <h3>03</h3>
                                <p>aug</p>
                            </div>
                            <div class="sermons-audio-icon">
                                <a href="#"><img src="images/audio-play-icon.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="sermons-body">
                            <div class="sermons-title">
                                <h2>Start a New Way of Living</h2>
                            </div>
                            <div class="sermons-list">
                                <ul>
                                    <li><i class="fa-solid fa-user"></i>Sermon From : <span>John Due</span></li>
                                    <li><i class="fa-solid fa-tag"></i>Categories : <span>Pray</span></li>
                                    <li><i class="fa-regular fa-calendar-days"></i>Date & Time : <span>Aug 03 - on 7:00 am - 11:00 am</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="sermons-item wow fadeInUp" data-wow-delay="0.25s">
                        <div class="sermons-image">
                            <figure>
                                <a href="#" class="image-anime" data-cursor-text="View">
                                    <img src="images/sermons-img-2.jpg" alt="">
                                </a>
                            </figure>
                            <div class="sermons-meta">
                                <h3>03</h3>
                                <p>aug</p>
                            </div>

                            <div class="sermons-audio-icon">
                                <a href="#"><img src="images/audio-play-icon.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="sermons-body">
                            <div class="sermons-title">
                                <h2>overcoming life's challenges</h2>
                            </div>
                            <div class="sermons-list">
                                <ul>
                                    <li><i class="fa-solid fa-user"></i>Sermon From : <span>John Due</span></li>
                                    <li><i class="fa-solid fa-tag"></i>Categories : <span>Pray</span></li>
                                    <li><i class="fa-regular fa-calendar-days"></i>Date & Time : <span>Aug 03 - on 7:00 am - 11:00 am</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="sermons-item wow fadeInUp" data-wow-delay="0.5s">
                        <div class="sermons-image">
                            <figure>
                                <a href="#" class="image-anime" data-cursor-text="View">
                                    <img src="images/sermons-img-3.jpg" alt="">
                                </a>
                            </figure>
                            <div class="sermons-meta">
                                <h3>03</h3>
                                <p>aug</p>
                            </div>

                            <div class="sermons-audio-icon">
                                <a href="#"><img src="images/audio-play-icon.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="sermons-body">
                            <div class="sermons-title">
                                <h2>hope in times of trouble</h2>
                            </div>
                            
                            <div class="sermons-list">
                                <ul>
                                    <li><i class="fa-solid fa-user"></i>Sermon From : <span>John Due</span></li>
                                    <li><i class="fa-solid fa-tag"></i>Categories : <span>Pray</span></li>
                                    <li><i class="fa-regular fa-calendar-days"></i>Date & Time : <span>Aug 03 - on 7:00 am - 11:00 am</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="subscribe-newsletter parallaxie">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                     <div class="section-title">
                        <h3 class="wow fadeInUp">subscribe newsletter</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Keep Up With Our <span>Latest News</span></h2>
                        <p class="wow fadeInUp" data-wow-delay="0.25s">Subscribe to our newsletter to stay informed about upcoming events, inspiring messages, and the latest news from our church community.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="subscribe-newsletter-form wow fadeInUp" data-wow-delay="0.5s">
                        <form id="newslettersForm" action="#" method="POST">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control"  id="mail" placeholder="Your Email..." required>
                                <button type="submit" class="subscribe-btn">subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <%- include('partials/head/footer.ejs'); %>
</body>

</html>