<!DOCTYPE html>
<html class="no-js" lang="en">

<%- include('partials/head/header.ejs'); %>
    <body>

        <%- include('partials/head/menubar.ejs'); %>
        
        <section class="position-relative" style="margin-top: 200px">
            <div class="container">

                <div class="row mb-5 align-items-end align-items-center">
                    <div class="col-lg-7 col-md-8 mb-3 mb-lg-0">
                        <div class="section-title tg-heading-subheading animation-style3">
                            <span class="sub-title">Church Ministers</span>
                            <h5 class="title tg-element-title">Get Acquainted with Our Exceptional Clergy Team</h5>
                        </div>
                    </div>
                </div>
                
                <div class="pastor-sliders">

                    <div class="swiper-container blessed-team">
                        <div class="swiper-wrapper pt-2">
                            <div class="swiper-slide hover-up">
                                <div class="team-style-01 team-style-02">
                                    <figure class="mb-0 position-relative">
                                        <a href="#">
                                            <img style="height: 320px" src="pastor1.jpg" alt="Blessed">
                                        </a>
                                        <figcaption class="w-100 p-20px lg-p-25px text-center">
                                            <div class="position-relative z-3">
                                                <p class="d-block fw-600 fs-5 text-dark mb-0">
                                                    <a href="#">Pastor Esther Ogunniyi</a>
                                                </p>
                                                <p class="fs-7">General Overseer</p>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="swiper-slide hover-up">
                                <div class="team-style-01 team-style-02">
                                    <figure class="mb-0 position-relative">
                                        <a href="#">
                                            <img style="height: 320px" src="pastor2.jpg" alt="Blessed">
                                        </a>
                                        <figcaption class="w-100 p-20px lg-p-25px text-center">
                                            <div class="position-relative z-3">
                                                <p class="d-block fw-600 fs-5 text-dark mb-0">
                                                    <a href="#">Pastor Zacchaeus Akin-Olushola</a>
                                                </p>
                                                <p class="fs-7">Senior Pastor</p>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="swiper-slide hover-up">
                                <div class="team-style-01 team-style-02">
                                    <figure class="mb-0 position-relative">
                                        <a href="#">
                                            <img style="height: 320px" src="pastor3.jpg" alt="Blessed">
                                        </a>
                                        <figcaption class="w-100 p-20px lg-p-25px text-center">
                                            <div class="position-relative z-3">
                                                <p class="d-block fw-600 fs-5 text-dark mb-0">
                                                    <a href="#">Minister Adebayo Oluwadare</a>
                                                </p>
                                                <p class="fs-7">Assistant Pastor</p>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="wrap-asset position-absolute top-50 left-5 ms-5">
                <img class="alltuchtopdown" src="assets/images/home1/img-sec-8.png" alt="Blessed">
            </div>
        </section>

        <%- include('partials/head/footer.ejs'); %>

    </body>
</html>