<!DOCTYPE html>
<html class="no-js" lang="en">

<%- include('partials/head/header.ejs'); %>
    <body>

        <%- include('partials/head/menubar.ejs'); %>
        
        <main class="fix">

            
            <section class="page-header" data-background="assets/images/home2/hero-2-bg.png" style="background-image: url(&quot;assets/images/home2/hero-2-bg.png&quot;);">
                <div class="container">
                    <div class="row">
                        <h1 class="mb-2 text-white">Our Ministries</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Our Ministries</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </section>

            <section class="sermons-section-2 section-padding pb-80px">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card-sermon-1 rounded-2 overflow-hidden bg-white shine-animate-item hover-up mb-4">
                                <div class="position-relative overflow-hidden mb-2">
                                    <a href="#" class="shine-animate">
                                        <img src="assets/images/sermons/img-sermons-1.png" alt="Blessed">
                                    </a>
                                </div>
                                <div class="card-body p-4">
                                    <h3 class="font-body text-dark fs-3 lh-base"><a href="#" class="">CHOIR MINISTRY</a></h3>
                                    
                                    <p class="fs-7 mb-4 text-dark">We celebrate the realities of God’s love in our lives. We enjoy the fullness of God and peace in His presence as we worship and praise Him in spirit and truth.</p>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card-sermon-1 rounded-2 overflow-hidden bg-white shine-animate-item hover-up mb-4">
                                <div class="position-relative overflow-hidden mb-2">
                                    <a href="#" class="shine-animate">
                                        <img src="assets/images/sermons/img-sermons-1.png" alt="Blessed">
                                    </a>
                                </div>
                                <div class="card-body p-4">
                                    <h3 class="font-body text-dark fs-3 lh-base"><a href="#" class="">EVANGELISM MINISTRY</a></h3>
                                    
                                    <p class="fs-7 mb-4 text-dark">This is an outreach department of the church, we care for all our members both old and new and we extend the love of Christ to those who are yet to commit their lives to our Lord Jesus through street evangelism every 2 weeks.</p>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card-sermon-1 rounded-2 overflow-hidden bg-white shine-animate-item hover-up mb-4">
                                <div class="position-relative overflow-hidden mb-2">
                                    <a href="#" class="shine-animate">
                                        <img src="assets/images/sermons/img-sermons-1.png" alt="Blessed">
                                    </a>
                                </div>
                                <div class="card-body p-4">
                                    <h3 class="font-body text-dark fs-3 lh-base"><a href="#" class="">PROGRESSIVE MEN MINISTRY</a></h3>
                                    
                                    <p class="fs-7 mb-4 text-dark">The men of the church meet regularly for prayer, words of encouragement and deliberate on issues concerning the family and the progress of the church. It is a meeting where dynamic and progress oriented issues are discussed and earnestly pray upon.</p>
                                    
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="card-sermon-1 rounded-2 overflow-hidden bg-white shine-animate-item hover-up mb-4">
                                <div class="position-relative overflow-hidden mb-2">
                                    <a href="#" class="shine-animate">
                                        <img src="assets/images/sermons/img-sermons-1.png" alt="Blessed">
                                    </a>
                                </div>
                                <div class="card-body p-4">
                                    <h3 class="font-body text-dark fs-3 lh-base"><a href="#" class="">VICTORIOUS WOMEN MINISTRY</a></h3>
                                    
                                    <p class="fs-7 mb-4 text-dark">Our women meet regularly, where we discuss our purpose in the church. We are home maker, encouraging and lifting ourselves in prayer that the Grace of God is sufficient for us regardless of our challenges.</p>
                                    
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="card-sermon-1 rounded-2 overflow-hidden bg-white shine-animate-item hover-up mb-4">
                                <div class="position-relative overflow-hidden mb-2">
                                    <a href="#" class="shine-animate">
                                        <img src="assets/images/sermons/img-sermons-1.png" alt="Blessed">
                                    </a>
                                </div>
                                <div class="card-body p-4">
                                    <h3 class="font-body text-dark fs-3 lh-base"><a href="#" class="">CHILDREN & YOUTH MINISTRY</a></h3>
                                    
                                    <p class="fs-7 mb-4 text-dark">Our youths are very much part of the church and we encourage and teach them to be part of our worship. They meet regularly for prayer and social activities to know each other and have a sense of belonging. We create a safe, stimulating and loving environment in our activities.</p>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card-sermon-1 rounded-2 overflow-hidden bg-white shine-animate-item hover-up mb-4">
                                <div class="position-relative overflow-hidden mb-2">
                                    <a href="#" class="shine-animate">
                                        <img src="assets/images/sermons/img-sermons-1.png" alt="Blessed">
                                    </a>
                                </div>
                                <div class="card-body p-4">
                                    <h3 class="font-body text-dark fs-3 lh-base"><a href="#" class="">CHRISTMAS HAMPERS</a></h3>
                                    
                                    <p class="fs-7 mb-4 text-dark">CGA provides basic food items to individuals and families in need during Christmas and whenever required. Please Contact us to find out about how you can donate food items.” Two cans can make a difference”.</p>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card-sermon-1 rounded-2 overflow-hidden bg-white shine-animate-item hover-up mb-4">
                                <div class="position-relative overflow-hidden mb-2">
                                    <a href="#" class="shine-animate">
                                        <img src="assets/images/sermons/img-sermons-1.png" alt="Blessed">
                                    </a>
                                </div>
                                <div class="card-body p-4">
                                    <h3 class="font-body text-dark fs-3 lh-base"><a href="#" class="">SOUTH OCKENDEN FELLOWSHIP</a></h3>
                                    
                                    <p class="fs-7 mb-4 text-dark">Our outreach meet for fellowship at South Ockendon Methodist Wesleyan church fortnightly on Tuesday at 7 pm to 8 pm. The fellowship started to encourage believers and to win new souls for the kingdom of God.</p>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card-sermon-1 rounded-2 overflow-hidden bg-white shine-animate-item hover-up mb-4">
                                <div class="position-relative overflow-hidden mb-2">
                                    <a href="#" class="shine-animate">
                                        <img src="assets/images/sermons/img-sermons-1.png" alt="Blessed">
                                    </a>
                                </div>
                                <div class="card-body p-4">
                                    <h3 class="font-body text-dark fs-3 lh-base"><a href="#" class="">THE WISDOM GENERATION</a></h3>
                                    
                                    <p class="fs-7 mb-4 text-dark">These are the Over 50 years of age and are the senior members of the church. This wisdom group or generation contributes to our services with their experiences, and impart us with words of admonition. Just as the bible admonishes, they mentor the younger generation of adults and serve in different capacity ensuring all members of the church, both old and new are well looked after and settle down to become part of the family. They demonstrate love, hospitality and spiritual maturity through lifestyle. After all, Maturity begins at 50.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="event-section-3 pb-110px">
                <div class="container container-1 position-relative">
                    <div class="row card-event-sec-3">
                        <div class="col-lg-7 col-12 content pt-110px pb-110px flex-column">
                            <div class="d-flex gap-5 align-items-end aos-init aos-animate" data-aos="fade-up">
                                <div class="section-title">
                                    <span class="sub-title">Volunteer</span>
                                </div>
                            </div>
                            <h2 class="fw-normal ds-5 mb-4 aos-init aos-animate" data-aos="fade-up">We're Dedicated to Making Earth a Better Planet
                                Through
                                Small Steps</h2>
                            <p class="fs-5 aos-init aos-animate" data-aos="fade-up">
                                Each small step we take contributes to a larger movement towards a more sustainable and vibrant
                                planet.
                            </p>
                            <div class="d-flex flex-column align-items-lg-center">
                                <a href="javascript:" class="pt-4 d-flex align-items-center aos-init aos-animate" data-aos="flip-up">
                                    <span class="icon text-white me-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users size-26"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                    </span>
                                    <div class="contact">
                                        <p class="fw-light fs-6 mb-2">Need help?</p>
                                        <p class="fs-3 mb-0 phone-num">(229) 555-0109</p>
                                    </div>
                                </a>
                                <a href="javascript:" class="pt-4 d-flex align-items-center aos-init aos-animate" data-aos="flip-up">
                                    <span class="icon text-white me-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users size-26"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                    </span>
                                    <div class="contact">
                                        <p class="fw-light fs-6 mb-2">Register to Volunteer</p>
                                        <p class="fs-3 mb-0 phone-num">(229) 555-0109</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-5 col-12 px-0">
                            <div class="position-relative">
                                <div class="background">
                                    <img src="assets/images/events/img-event-sec-3.png" alt="Blessed" data-aos="zoom-in" class="aos-init aos-animate">
                                </div>
                                <div class="card-float position-absolute br-4 alltuchtopdown">
                                    <div class="card-float-top rounded-top-1">
                                        <img class="mb-2 aos-init aos-animate" src="assets/images/home1/book-card-sec6.png" alt="Blessed" data-aos="flip-left">
                                        <p class="mb-0 pt-2 fs-7 text-dark">Reach out to us for support, counseling, or prayer.</p>
                                    </div>
                                    <div class="rounded-bottom-1 card-float-bot d-flex align-items-center justify-content-center">
                                        <p class="text-white mb-0">Start Your Journey</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-asset position-absolute">
                        <img class="alltuchtopdown" src="assets/images/events/img-bg-event-sec-3.png" alt="Blessed">
                    </div>
                </div>
            </div>

        </main>

        <%- include('partials/head/footer.ejs'); %>

    </body>
</html>