<!DOCTYPE html>
<html class="no-js" lang="en">

<%- include('partials/head/header.ejs'); %>
    <body>

        <%- include('partials/head/menubar.ejs'); %>

        <div class="page-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="page-header-box">
                            <h1 class="text-anime-style-2" data-cursor="-opaque">Our Sermon</h1>
                            <nav class="wow fadeInUp">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Our Sermon</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="our-sermons">
            <div class="container">
                <div class="row section-row">
                    <div class="section-title">
                        <h3 class="wow fadeInUp">our sermons</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Our Latest <span>Sermons</span></h2>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="sermons-item wow fadeInUp">
                            <div class="sermons-image">
                                <figure>
                                    <a href="/sermonsingle" class="image-anime" data-cursor-text="View">
                                        <img src="images/sermons-img-1.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="sermons-meta">
                                    <h3>03</h3>
                                    <p>aug</p>
                                </div>
                                <div class="sermons-audio-icon">
                                    <a href="#"><img src="images/audio-play-icon.svg" alt=""></a>
                                </div>
                            </div>
                            <div class="sermons-body">
                                <div class="sermons-title">
                                    <h2>Start a New Way of Living</h2>
                                </div>
                                <div class="sermons-list">
                                    <ul>
                                        <li><i class="fa-solid fa-user"></i>Sermon From : <span>John Due</span></li>
                                        <li><i class="fa-solid fa-tag"></i>Categories : <span>Pray</span></li>
                                        <li><i class="fa-regular fa-calendar-days"></i>Date & Time : <span>Aug 03 - on 7:00 am - 11:00 am</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-6">
                        <div class="sermons-item wow fadeInUp" data-wow-delay="0.25s">
                            <div class="sermons-image">
                                <figure>
                                    <a href="/sermonsingle" class="image-anime" data-cursor-text="View">
                                        <img src="images/sermons-img-2.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="sermons-meta">
                                    <h3>03</h3>
                                    <p>aug</p>
                                </div>
    
                                <div class="sermons-audio-icon">
                                    <a href="#"><img src="images/audio-play-icon.svg" alt=""></a>
                                </div>
                            </div>
                            <div class="sermons-body">
                                <div class="sermons-title">
                                    <h2>overcoming life's challenges</h2>
                                </div>
                                <div class="sermons-list">
                                    <ul>
                                        <li><i class="fa-solid fa-user"></i>Sermon From : <span>John Due</span></li>
                                        <li><i class="fa-solid fa-tag"></i>Categories : <span>Pray</span></li>
                                        <li><i class="fa-regular fa-calendar-days"></i>Date & Time : <span>Aug 03 - on 7:00 am - 11:00 am</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-6">
                        <div class="sermons-item wow fadeInUp" data-wow-delay="0.5s">
                            <div class="sermons-image">
                                <figure>
                                    <a href="/sermonsingle" class="image-anime" data-cursor-text="View">
                                        <img src="images/sermons-img-3.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="sermons-meta">
                                    <h3>03</h3>
                                    <p>aug</p>
                                </div>
    
                                <div class="sermons-audio-icon">
                                    <a href="#"><img src="images/audio-play-icon.svg" alt=""></a>
                                </div>
                            </div>
                            <div class="sermons-body">
                                <div class="sermons-title">
                                    <h2>hope in times of trouble</h2>
                                </div>
                                
                                <div class="sermons-list">
                                    <ul>
                                        <li><i class="fa-solid fa-user"></i>Sermon From : <span>John Due</span></li>
                                        <li><i class="fa-solid fa-tag"></i>Categories : <span>Pray</span></li>
                                        <li><i class="fa-regular fa-calendar-days"></i>Date & Time : <span>Aug 03 - on 7:00 am - 11:00 am</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="sermons-item wow fadeInUp" data-wow-delay="0.25s">
                            <div class="sermons-image">
                                <figure>
                                    <a href="/sermonsingle" class="image-anime" data-cursor-text="View">
                                        <img src="images/sermons-img-2.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="sermons-meta">
                                    <h3>03</h3>
                                    <p>aug</p>
                                </div>
    
                                <div class="sermons-audio-icon">
                                    <a href="#"><img src="images/audio-play-icon.svg" alt=""></a>
                                </div>
                            </div>
                            <div class="sermons-body">
                                <div class="sermons-title">
                                    <h2>overcoming life's challenges</h2>
                                </div>
                                <div class="sermons-list">
                                    <ul>
                                        <li><i class="fa-solid fa-user"></i>Sermon From : <span>John Due</span></li>
                                        <li><i class="fa-solid fa-tag"></i>Categories : <span>Pray</span></li>
                                        <li><i class="fa-regular fa-calendar-days"></i>Date & Time : <span>Aug 03 - on 7:00 am - 11:00 am</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-6">
                        <div class="sermons-item wow fadeInUp" data-wow-delay="0.5s">
                            <div class="sermons-image">
                                <figure>
                                    <a href="/sermonsingle" class="image-anime" data-cursor-text="View">
                                        <img src="images/sermons-img-3.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="sermons-meta">
                                    <h3>03</h3>
                                    <p>aug</p>
                                </div>
    
                                <div class="sermons-audio-icon">
                                    <a href="#"><img src="images/audio-play-icon.svg" alt=""></a>
                                </div>
                            </div>
                            <div class="sermons-body">
                                <div class="sermons-title">
                                    <h2>hope in times of trouble</h2>
                                </div>
                                
                                <div class="sermons-list">
                                    <ul>
                                        <li><i class="fa-solid fa-user"></i>Sermon From : <span>John Due</span></li>
                                        <li><i class="fa-solid fa-tag"></i>Categories : <span>Pray</span></li>
                                        <li><i class="fa-regular fa-calendar-days"></i>Date & Time : <span>Aug 03 - on 7:00 am - 11:00 am</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/head/footer.ejs'); %>

    </body>
</html>