<!DOCTYPE html>
<html class="no-js" lang="en">

<%- include('partials/head/header.ejs'); %>
    <body>

        <%- include('partials/head/menubar.ejs'); %>
        
        <main class="fix">

            <div class="page-header" data-background="assets/images/home2/hero-2-bg.png">
                <div class="container">
                    <div class="row">
                        <h1 class="mb-2 text-white">Statement of Beliefs & Values</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Statement of Beliefs & Values</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            
            <section class="sermon-details-section-1">
                <div class="container py-5">
                    <div class="row justify-content-center">
                        <div class="col-12 mb-4 d-flex justify-content-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb flex-nowrap">
                                    <li class="breadcrumb-item d-inline-flex"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item  d-inline-flex active fw-semibold" aria-current="page">Statement of Beliefs & Values</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-10">
                            <div class="container container-1">
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-center">
                                        <img src="assets/images/pastor-details/img-pastor-details-sec-1.png" alt="Blessed">
                                    </div>
                                </div>
                            </div>
                            <div class="d-block d-md-flex underlined-bottom justify-content-between">
                                <div class="position-relative w-fit-content overflow-hidden shine-animate-item hover-up d-flex align-items-center py-4">
                                    <a href="#" class="shine-animate">
                                        <img style="height: 50px; width: 50px; border-radius: 50px;" src="pastor1.jpg" alt="Blessed">
                                    </a>
                                    <div class="title ps-4">
                                        <h3 class="fs-5 fw-semibold mb-0">
                                            <a href="#">Pastor Esther Ogunniyi</a>
                                        </h3>
                                        <p class="fs-7 mb-0">01 February 2025</p>
                                    </div>
                                </div>
                                <div class="icons d-flex align-items-center mb-4 mb-xxl-0 mb-xl-0 mb-lg-0 mb-md-0 mb-sm-4">
                                    <p class="text-dark mb-0 me-2">Share:</p>
                                    <a href="javascript:" target="_blank" class="fw-600 text-dark px-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="javascript:" target="_blank" class="fw-600 text-dark px-2"><i class="fab fa-instagram"></i></a>
                                    <a href="javascript:" target="_blank" class="fw-600 text-dark px-2"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="javascript:" target="_blank" class="fw-600 text-dark px-2"><i class="fab fa-twitter"></i></a>
                                </div>
                            </div>
                            <h6 style="margin-top: 20px;">1. OUR VISION STATEMENT</h6>
                                <p style="font-size: 14px;">To Expand The Kingdom Of God In Preparation For The Second Coming Of Christ.</p>
                                <h6 style="margin-top: 20px;">2. OUR MISSION STATEMENT</h6>
                                <p class="text-400" style="font-size: 14px;">Relentless Evangelism and Impartation Of The Words Of God, Through Sound Teaching and Effective Prayers. (Mark 16:15-16)</p>

                            <div class="row">
                                <div class="col-lg-6 col-12 pe-lg-4">
                                    <h6>3. OUR STATEMENT OF BELIEFS</h6>
                                    <p class="fs-6 fw-regular text-400">
                                       <b> GOD </b>– God is the Creator and Ruler of the universe. He has eternally existed in three persons: the Father, the Son, and the Holy Spirit. These three are co-equal and are one God.
                                    </p>
                                    <p class="fs-6 fw-regular text-400">
                                        <b> JESUS CHRIST </b>– Jesus Christ is the Son of God. He is co-equal with the Father. Jesus lived a sinless human life and offered Himself as the perfect sacrifice for the sins of all people by dying on a cross. He arose from the dead after three days to demonstrate His power over sin and death. He ascended to Heaven’s glory and will return again someday to earth to reign as King of Kings, and Lord of Lords.
                                     </p>

                                     <p class="fs-6 fw-regular text-400">
                                        <b> HOLY SPIRIT </b>– The Holy Spirit is co-equal with the Father and the Son of God. He is present in the world to make people aware of their need for Jesus Christ. He also lives in every Christian from the moment of salvation. He provides the Christian with power for living, understanding of spiritual truth, and guidance in doing what is right.
                                     </p>
                                </div>
                                <div class="col-lg-6 col-12 ps-lg-4">
                                    <img style="height: 450px" class="rounded" src="pastor1.jpg" alt="Blessed">
                                </div>
                            </div>
                            <h5 class="fw-medium py-2">HOLY COMMUNION</h5>
                            <p class="fs-6 fw-regular text-400">The Holy Communion is sacred and a remembrance of Christ’s suffering for the forgiveness of our sins.</p>
                            <h5 class="fw-medium py-2">THE BIBLE</h5>
                            <p class="fs-6 fw-regular text-400">The Bible is God’s Word to us. It was written by human authors, under the supernatural guidance of the Holy Spirit. It is the supreme source of truth for Christian beliefs and living. Because it is inspired by God, it is the truth without any mixture of error.</p>
                            
                            <h5 class="fw-medium py-2">HUMAN BEINGS</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="fs-6 fw-regular text-400"> People are made in the spiritual image of God, to be like Him in character. People are the supreme object of God’s creation. Although every person has tremendous potential for good, all of us are marred by an attitude of disobedience toward God called “sin”. This attitude separates people from God and causes many problems in life.
                                    </p>
                                </div>
                            </div>

                            <h5 class="fw-medium py-2">SALVATION</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="fs-6 fw-regular text-400"> Salvation is God’s free gift to us, but we must accept it. We can never make up for our sin by self-improvement or good works. Only by trusting in Jesus Christ as God’s offer of forgiveness can anyone be saved from sin’s penalty. When we turn from our self-ruled life and turn to Jesus in faith we are saved.
                                    </p>
                                </div>
                            </div>

                            <h5 class="fw-medium py-2">ETERNITY</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="fs-6 fw-regular text-400"> People were created to exist forever. We will either exist eternally separated from God by sin or eternally with God through forgiveness and salvation. To be eternally separated from God is Hell. To be eternally with Him is eternal life. Heaven and Hell are real places of eternal existence.
                                    </p>
                                </div>
                            </div>

                            <h5 class="fw-medium py-2">MARRIAGE</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="fs-6 fw-regular text-400"> We believe that marriage was ordained by God at creation as the sacred union of one man and one woman and as Christians is a representation of Christ’s relationship to His church. All sexual relations must therefore be reserved for that union and any form of child molestation, fornication, adultery, homosexuality, lesbianism, bestiality, bisexuality, incest, pedophilia, or pornography is a sinful perversion of God’s gift of sex.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <div class="box-swiper mt-30">
                <div class="swiper-container blessed-pastor-slider swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                    <div class="swiper-wrapper pt-5 pb-2" id="swiper-wrapper-a277a4250e2dc8e6" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-1768px, 0px, 0px);"><div class="swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev" role="group" aria-label="6 / 9" style="width: 412px; margin-right: 30px;" data-swiper-slide-index="2">
                            <img src="assets/images/pastor-details/img-pastor-details-sec-1-4.png" class="h" alt="Avatar">
                        </div>
                        <div class="swiper-slide swiper-slide-duplicate-active" role="group" aria-label="4 / 9" style="width: 412px; margin-right: 30px;" data-swiper-slide-index="0">
                            <img src="assets/images/pastor-details/img-pastor-details-sec-1-2.png" class="h" alt="Avatar">
                        </div>
                        <div class="swiper-slide" role="group" aria-label="5 / 9" style="width: 412px; margin-right: 30px;" data-swiper-slide-index="1">
                            <img src="assets/images/pastor-details/img-pastor-details-sec-1-3.png" class="h" alt="Avatar">
                        </div>
                        <div class="swiper-slide swiper-slide-prev swiper-slide-duplicate-next" role="group" aria-label="6 / 9" style="width: 412px; margin-right: 30px;" data-swiper-slide-index="2">
                            <img src="assets/images/pastor-details/img-pastor-details-sec-1-4.png" class="h" alt="Avatar">
                        </div>
                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-active" role="group" aria-label="4 / 9" style="width: 412px; margin-right: 30px;" data-swiper-slide-index="0">
                            <img src="assets/images/pastor-details/img-pastor-details-sec-1-2.png" class="h" alt="Avatar">
                        </div></div>

                    <div class="col-12 text-center pb-4"><div class="blessed-pastor-slider-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
            </div>


            <div class="container expertise">
                <div class="row">
                    <div class="col-lg-2 col"></div>
                    <div class="col-lg-8 col-10">
                        <h4 class="fw-medium pb-2">
                            4. OUR CORE VALUES – PREACH
                        </h4>
                        <p class="fw-semibold pb-2 text-dark">P: Prayer & People
                            <span class="text fw-normal text-400">People matter to God, therefore we aim to do whatever it takes to reach them for Christ. Rev. 5:8, Psm. 55:17, Matt. 17:21, Phil. 4:6</span>
                        </p>
                        <p class="fw-semibold pb-2 text-dark">R: Righteousness & Relevance
                            <span class="text fw-normal text-400">The Church aims to be culturally relevant while remaining doctrinally pure. Job 27:6.</span>
                        </p>
                        <p class="fw-semibold pb-2 text-dark">E: Endurance & Excellence
                            <span class="text fw-normal text-400">Excellence attracts. To attain the best for the Church family and for loving relationships to be evident in every area of life. 1 Cor. 13:7.</span>
                        </p>
                        <p class="fw-semibold pb-2 text-dark">A: Accountability
                            <span class="text fw-normal text-400">To be transparently accountable to God, constituted authority and all members. Matt. 25:14-33.</span>
                        </p>

                        <p class="fw-semibold pb-2 text-dark">C: Courage
                            <span class="text fw-normal text-400">To start, stay, and finish on the positive. Joshua 1:9.</span>
                        </p>
                        <p class="fw-semibold pb-2 text-dark">H: Holiness – 
                            <span class="text fw-normal text-400">Obedience to Jesus Christ, our key priority 2 COR 7:1, HEB 12:14.</span>
                        </p>
                    </div>
                    <div class="col-lg-2 col"></div>
                </div>
            </div>

            <div class="container">
                <div class="row py-5">
                    <div class="col-lg-7">
                        <img src="assets/images/pastor-details/img-pastor-details-sec-1-5.png" alt="Blessed">
                    </div>
                    <div class="col-lg-5">
                        <img class="w-90 mt-lg-0 mt-4" src="assets/images/pastor-details/img-pastor-details-sec-1-6.png" alt="Blessed">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col"></div>
                    <div class="col-lg-8 col-10">
                        <h4 class="fw-medium pb-2">
                            5. OUR STRUCTURE
                        </h4>
                        <p class="text-400">The structure of the Church is determined by its nature. It is not determined by Culture, Business Practices or even denominational traditions. We are:</p>
                        <p class="text-400"><b>A Fellowship</b> – Acts 2:42, Ephesians 4:3</p>
                        <p class="text-400"><b>A Family</b> – 1 Peter 3:8</p>
                        <p class="text-400"><b>A Body</b> – Romans 12:4-6</p>
                        <p class="text-400"><b>A Flock</b> – John 10:1-30; Matthew 26:31; Matthew 25:33; 1 Peter 5:1-2</p>
                        
                    </div>
                    <div class="col-lg-2 col"></div>
                </div>
            </div>

            <div class="container mt-4">
                <div class="row">
                    <div class="col-lg-2 col"></div>
                    <div class="col-lg-8 col-10">
                        <h4 class="fw-medium pb-2">
                            6. SAFEGUARDING  POLICY & PROCEDURE
                        </h4>
                        <p class="text-400">The church recognises its responsibilities in safeguarding all children, young people and adults at risk, regardless of gender, ethnicity or ability. As a church we commit ourselves to the nurturing, protection and safekeeping of all individuals associated with the church and pray for them regularly.

                           <br> In pursuit of this, we commit ourselves to</p>
                        <p class="text-400">
                           <b> 1)      Prevention and reporting of abuse </b>

Each church member has a duty to help prevent the abuse of children and adults at risk, and to respond to concerns about the well-being of children and adults at risk. Any abuse disclosed, discovered or suspected will be reported accordingly and will fully co-operate with any statutory investigation into any suspected abuse linked with the church.
                        </p>

                        <p class="text-400">
                            <b> 2)      Safer recruitment, support and supervision of workers </b>

                                Exercising proper care in the selection and appointment of those working with children and adults at risk, whether paid or voluntary. All workers will be provided with appropriate training, support and supervision to promote the safekeeping of children and adults at risk.                         </p>
                        
                                <p class="text-400">
                                    <b>3)  Respecting children and adults at risk</b>
        
                                    The church adopts a code of behaviour for all who are appointed to work with children and adults at risk so that all children and adults are shown the respect that is due to them.</p>
                                

                                    <p class="text-400">
                                        <b>4)      Safer working practices</b>
            
                                        The church is committed to providing an environment that is as safe as possible for children and adults at risk and will adopt ways of working with them that promote their safety and well-being.</p>
                                    
                                
                                        <p class="text-400">
                                            <b>5)      A safer community</b>
                
                                            The church is committed to the prevention of bullying and will ensure that the behaviour of any individuals who may pose a risk to children, young people and adults at risk in the church is managed appropriately.</p>
                                        
                                    
                    </div>
                    <div class="col-lg-2 col"></div>
                </div>
            </div>
                

            <div class="section-13 position-relative py-5">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-6 col-12 text-start text-xxl-start text-xl-start text-center mb-xxl-0 mb-xl-0 mb-3">
                            <h2 class=" fs-1 text-dark">Abundant Resources</h2>
                            <p class="mb-0 fw-regular fs-6">Access a wealth of spiritual resources with <br>over 56 sermons
                                available each week.
                            </p>
                        </div>
                        <div class="col-xl-6 col-12 text-end text-xxl-end text-xl-end text-lg-center text-center">
                            <div class="mt-4 mt-lg-0">
                                <a href="mailto:info@christgospelassembly.org.uk" class="btn text-white rounded-5 me-2">
                                    <span class="bg-transparent me-2">
                                        <i class="size-16" data-feather="mail"></i>
                                    </span>
                                    <span>Send Us Email</span>
                                </a>
                                <a href="tel:+44 (0)1375844355" class="btn btn-dark btn-white rounded-5">
                                    <span class="bg-transparent-sec-13 me-2">
                                        <i class="size-16" data-feather="phone"></i>
                                    </span>
                                    <span>+44 (0)1375844355</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap-asset-13 position-absolute">
                    <img class="asset-top-down" src="assets/images/home1/img-sec-13.png" alt="Blessed">
                </div>
                <div class="wrap-asset-13-1 position-absolute">
                    <img class="asset-top-down" src="assets/images/home1/img-sec-13.1.png" alt="Blessed">
                </div>
            </div>
            
        </main>

        <%- include('partials/head/footer.ejs'); %>

    </body>
</html>