<!DOCTYPE html>
<html class="no-js" lang="en">

<%- include('partials/head/header.ejs'); %>
    <body>

        <%- include('partials/head/menubar.ejs'); %>

        <div class="page-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="page-header-box">
                            <h1 class="text-anime-style-2" data-cursor="-opaque">Statement of Beliefs & Values</h1>
                            <nav class="wow fadeInUp">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Statement of Beliefs & Values</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="page-service-single">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="service-single-content">
                            <div class="service-single-slider">
                                <div class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
                                    <div class="swiper-wrapper" id="swiper-wrapper-af561f34e28367e9" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-784px, 0px, 0px); transition-delay: 0ms;">
                                        <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 3" data-swiper-slide-index="1" style="width: 382px; margin-right: 10px;">
                                            <div class="service-slider-image">
                                                <figure>
                                                    <img src="cga-vision-mission.jpg" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-prev" role="group" aria-label="3 / 3" data-swiper-slide-index="2" style="width: 382px; margin-right: 10px;">
                                            <div class="service-slider-image">
                                                <figure>
                                                    <img src="pray.jpg" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                        <!-- Service Image Slide End -->
                                    <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 3" data-swiper-slide-index="0" style="width: 382px; margin-right: 10px;">
                                            <div class="service-slider-image">
                                                <figure>
                                                    <img src="8.jpg" alt="">
                                                </figure>
                                            </div>
                                        </div></div>
                                    <div class="service-single-btn">
                                        <div class="service-single-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-af561f34e28367e9"></div>
                                        <div class="service-single-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-af561f34e28367e9"></div>
                                    </div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                            </div>
                            <div class="service-entry">
                                <h2 class="text-anime-style-2" data-cursor="-opaque" style="font-size: 20px;">1. OUR VISION STATEMENT</h2>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;">To Expand The Kingdom Of God In Preparation For The Second Coming Of Christ.</p>
                                <h2 class="text-anime-style-2" data-cursor="-opaque" style="font-size: 20px;">2. OUR MISSION STATEMENT</h2>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;">Relentless Evangelism and Impartation Of The Words Of God, Through Sound Teaching and Effective Prayers. (Mark 16:15-16)</p>
                                <h2 class="text-anime-style-2" data-cursor="-opaque" style="font-size: 20px;">3. OUR STATEMENT OF BELIEFS</h2>
                                <ul class="wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                                    <li style="font-size: 14px"><b>JESUS CHRIST</b> – Jesus Christ is the Son of God. He is co-equal with the Father. Jesus lived a sinless human life and offered Himself as the perfect sacrifice for the sins of all people by dying on a cross. He arose from the dead after three days to demonstrate His power over sin and death. He ascended to Heaven’s glory and will return again someday to earth to reign as King of Kings, and Lord of Lords.</li>
                                    <li style="font-size: 14px"><b>HOLY SPIRIT</b> – The Holy Spirit is co-equal with the Father and the Son of God. He is present in the world to make people aware of their need for Jesus Christ. He also lives in every Christian from the moment of salvation. He provides the Christian with power for living, understanding of spiritual truth, and guidance in doing what is right.</li>
                                    <li style="font-size: 14px"><b>HOLY COMMUNION</b> – The Holy Communion is sacred and a remembrance of Christ’s suffering for the forgiveness of our sins.</li>
                                    <li style="font-size: 14px"><b>THE BIBLE</b> – The Bible is God’s Word to us. It was written by human authors, under the supernatural guidance of the Holy Spirit. It is the supreme source of truth for Christian beliefs and living. Because it is inspired by God, it is the truth without any mixture of error.</li>
                                    <li style="font-size: 14px"><b>HUMAN BEINGS</b> – People are made in the spiritual image of God, to be like Him in character. People are the supreme object of God’s creation. Although every person has tremendous potential for good, all of us are marred by an attitude of disobedience toward God called “sin”. This attitude separates people from God and causes many problems in life.</li>
                                    <li style="font-size: 14px"><b>SALVATION</b> – Salvation is God’s free gift to us, but we must accept it. We can never make up for our sin by self-improvement or good works. Only by trusting in Jesus Christ as God’s offer of forgiveness can anyone be saved from sin’s penalty. When we turn from our self-ruled life and turn to Jesus in faith we are saved.</li>
                                    <li style="font-size: 14px"><b>ETERNITY</b> – People were created to exist forever. We will either exist eternally separated from God by sin or eternally with God through forgiveness and salvation. To be eternally separated from God is Hell. To be eternally with Him is eternal life. Heaven and Hell are real places of eternal existence.</li>
                                    <li style="font-size: 14px"><b>MARRIAGE</b> – We believe that marriage was ordained by God at creation as the sacred union of one man and one woman and as Christians is a representation of Christ’s relationship to His church. All sexual relations must therefore be reserved for that union and any form of child molestation, fornication, adultery, homosexuality, lesbianism, bestiality, bisexuality, incest, pedophilia, or pornography is a sinful perversion of God’s gift of sex.</li>
                                    
                                </ul>


                                <h2 class="text-anime-style-2 mt-4" data-cursor="-opaque" style="font-size: 20px;">4. OUR CORE VALUES – PREACH</h2>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;"><b>P: Prayer & People </b> – People matter to God, therefore we aim to do whatever it takes to reach them for Christ. Rev. 5:8, Psm. 55:17, Matt. 17:21, Phil. 4:6</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;"><b>R: Righteousness & Relevance </b> – The Church aims to be culturally relevant while remaining doctrinally pure. Job 27:6.</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;"><b>E: Endurance & Excellence </b> – Excellence attracts. To attain the best for the Church family and for loving relationships to be evident in every area of life. 1 Cor. 13:7.</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;"><b>A: Accountability </b> – To be transparently accountable to God, constituted authority and all members. Matt. 25:14-33.</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;"><b>C: Courage </b> – To start, stay, and finish on the positive. Joshua 1:9.</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;"><b>H: Holiness </b> – Obedience to Jesus Christ, our key priority 2 COR 7:1, HEB 12:14.</p>
                            

                                <h2 class="text-anime-style-2 mt-4" data-cursor="-opaque" style="font-size: 20px;">5. OUR STRUCTURE</h2>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;">The structure of the Church is determined by its nature. It is not determined by Culture, Business Practices or even denominational traditions. We are:</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;"><b>A Fellowship </b> – Acts 2:42, Ephesians 4:3</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;"><b>A Family </b> – 1 Peter 3:8</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;"><b>A Body </b> – Romans 12:4-6</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;"><b>A Flock </b> – John 10:1-30; Matthew 26:31; Matthew 25:33; 1 Peter 5:1-2</p>
                            

                                <h2 class="text-anime-style-2 mt-4" data-cursor="-opaque" style="font-size: 20px;">6. SAFEGUARDING  POLICY & PROCEDURE</h2>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;">The church recognises its responsibilities in safeguarding all children, young people and adults at risk, regardless of gender, ethnicity or ability. As a church we commit ourselves to the nurturing, protection and safekeeping of all individuals associated with the church and pray for them regularly.</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;">In pursuit of this, we commit ourselves to</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;"><b>1) Prevention and reporting of abuse </b></p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;">Each church member has a duty to help prevent the abuse of children and adults at risk, and to respond to concerns about the well-being of children and adults at risk. Any abuse disclosed, discovered or suspected will be reported accordingly and will fully co-operate with any statutory investigation into any suspected abuse linked with the church.</p>
                                
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;"><b>2)      Safer recruitment, support and supervision of workers</b></p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;">Exercising proper care in the selection and appointment of those working with children and adults at risk, whether paid or voluntary. All workers will be provided with appropriate training, support and supervision to promote the safekeeping of children and adults at risk.</p>

                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;"><b>2)      Safer recruitment, support and supervision of workers</b></p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;">Exercising proper care in the selection and appointment of those working with children and adults at risk, whether paid or voluntary. All workers will be provided with appropriate training, support and supervision to promote the safekeeping of children and adults at risk.</p>


                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;"><b>3)      Respecting children and adults at risk</b></p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;">The church adopts a code of behaviour for all who are appointed to work with children and adults at risk so that all children and adults are shown the respect that is due to them.</p>


                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;"><b>4)      Safer working practices</b></p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;">The church is committed to providing an environment that is as safe as possible for children and adults at risk and will adopt ways of working with them that promote their safety and well-being.</p>

                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;"><b>5)      A safer community</b></p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; font-size: 14px;">The church is committed to the prevention of bullying and will ensure that the behaviour of any individuals who may pose a risk to children, young people and adults at risk in the church is managed appropriately.</p>

                            
                            </div>
                            <div class="service-single-faqs">
                                <div class="section-title">
                                    <h2 class="text-anime-style-2" data-cursor="-opaque"><div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">O</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">u</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">r</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">C</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">o</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">r</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">e</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">V</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">a</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">l</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">u</div><div style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">e</div></div></h2>
                                </div>
                                <div class="core-value-faqs-accordion" id="accordion">
                                    <div class="accordion-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Why is faith a core value?
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                <p>We demonstrate love through compassionate service, supportive relationships, and inclusive community practices.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FAQ Item End -->
    
                                    <!-- FAQ Item Start -->
                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                How does the church demonstrate love?
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                <p>We demonstrate love through compassionate service, supportive relationships, and inclusive community practices.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FAQ Item End -->
    
                                    <!-- FAQ Item Start -->
                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                How is community fostered within the church?
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                <p>We demonstrate love through compassionate service, supportive relationships, and inclusive community practices.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FAQ Item End -->
    
                                    <!-- FAQ Item Start -->
                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">
                                        <h2 class="accordion-header" id="headingfour">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                                What is the importance of spiritual growth?
                                            </button>
                                        </h2>
                                        <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                <p>We demonstrate love through compassionate service, supportive relationships, and inclusive community practices.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FAQ Item End -->
    
                                    <!-- FAQ Item Start -->
                                    <div class="accordion-item wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">
                                        <h2 class="accordion-header" id="headingfive">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                                How do these values shape church activities?
                                            </button>
                                        </h2>
                                        <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                <p>We demonstrate love through compassionate service, supportive relationships, and inclusive community practices.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FAQ Item End -->
                                </div>
                                <!-- Core Value FAQ Accordion End -->
                            </div>
                            <!-- Service Single Faqs End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/head/footer.ejs'); %>

    </body>
</html>