<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="At Presken, our goal has always been to offer more than a luxurious place to sleep, more than exceptional business facilities with the latest technology, more than personalized service, more than outstanding food and amenities.">
    <link rel="shortcut icon" href="/preskenlogo.png" type="image/x-icon">
    <link rel="stylesheet" href="/upgrade/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/upgrade/assets/css/animate.min.css" />
    <link rel="stylesheet" href="/upgrade/assets/css/boxicons.min.css" />
    <link rel="stylesheet" href="/upgrade/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="/upgrade/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/upgrade/assets/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/upgrade/assets/css/nice-select.min.css" />
    <link rel="stylesheet" href="/upgrade/assets/css/meanmenu.css" />
    <link rel="stylesheet" href="/upgrade/assets/css/jquery-ui.css" />
    <link rel="stylesheet" href="/upgrade/assets/css/style.css" />
    <link rel="stylesheet" href="/upgrade/assets/css/responsive.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />    
    <link rel="modulepreload" href="/vendor.9c14883d.js">
    <link rel="stylesheet" href="/index.5277b8ff.css">
    <link rel="stylesheet" href="/upgrade/assets/fonts/flaticon.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">

    <title>Presken Hotel and Resort</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-220916961-1"></script>
    <script type="module" crossorigin src="/index.4de83122.js"></script>
    
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/6661f796981b6c564779d5fa/1hvnau9is';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

    <style>
    .banner-img img {
        height: 430px;
    }

    .about-img-2 img {
        height: 400px;
    }

    @media screen and (max-width: 700px) {
        header {
            display: none;
        }

        .banner-img img {
            height: 320px;
        }

        .about-img-2 img {
            height: 320px;
        }

        .banner-btn {
            justify-content: center;
        }
    }

    .text-presken {
        color: sienna;
        }
    </style>
</head>