<footer>
    <div class="footer-area text-white">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 order-xl-1 order-lg-1 order-md-1 mb-xxl-0 mb-xl-0 mb-lg-5 mb-md-5 mb-sm-5 mb-5">
                        <div class="footer-widget">
                            <div class="fw-logo mb-25">
                                <a href="/"><img src="cga-main-logo.png" alt=""></a>
                            </div>
                            <div class="footer-content">
                                <div class="footer-info-list">
                                    <ul class="list-wrap fs-6">
                                        <li>
                                            <div class="icon">
                                                <i class="size-16" data-feather="phone-call"></i>
                                            </div>
                                            <div class="content">
                                                <a href="tel:+44 (0)1375844355" class="text-white fs-6">+44 (0)1375844355</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="size-16" data-feather="map-pin"></i>
                                            </div>
                                            <div class="content">
                                                <span class="fs-6">The Lighthouse,
                                                    164 Dock Road, Tilbury, Essex
                                                    RM18 7BS</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-social mt-4">
                                    <h5 class="font-body fw-600 fs-6 fs-6 text-white mb-2">Follow Us</h5>
                                    <ul class="list-wrap">
                                        <li><a href="javascript:"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:"><i class="fab fa-pinterest-p"></i></a></li>
                                        <li><a href="javascript:"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 order-xl-2 order-lg-3 order-md-3 mb-xxl-0 mb-xl-0 mb-lg-0 mb-md-0 mb-sm-5 mb-5">
                        <div class="footer-link-list">
                            <div class="footer-widget">
                                <h4 class="font-body mb-4 text-white fs-18px">About Us</h4>
                                <ul class="list-wrap">
                                    <li><a href="/ministries">Our Ministers</a></li>
                                    <li><a href="/statement">Statement of Belief</a></li>
                                    <li><a href="javascript:">Our Ministers</a></li>
                                    <li><a href="javascript:">Service Times</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 order-xl-3 order-lg-4 order-md-4 mb-xxl-0 mb-xl-0 mb-lg-0 mb-md-0 mb-sm-5 mb-5">
                        <div class="footer-link-list">
                            <div class="footer-widget">
                                <h4 class="font-body mb-4 text-white fs-18px">Links</h4>
                                <ul class="list-wrap">
                                    <li><a href="javascript:">Event of the year</a></li>
                                    <li><a href="javascript:">Donation</a></li>
                                    <li><a href="javascript:">Event Calendar</a></li>
                                    <li><a href="javascript:">Contact US</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 order-xl-4 order-lg-5 order-md-5 mb-xxl-0 mb-xl-0 mb-lg-0 mb-md-0 mb-sm-5 mb-5">
                        <div class="footer-link-list">
                            <div class="footer-widget">
                                <h4 class="font-body mb-4 text-white fs-18px">Support</h4>
                                <ul class="list-wrap">
                                    <li><a href="/gallery">Gallery</a></li>
                                    <li><a href="javascript:">Prayer Request</a></li>
                                    <li><a href="javascript:">Welfare & Evangelism</a></li>
                                    <li><a href="javascript:">Spiritual Guidance</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 order-xl-5 order-lg-2 order-md-2 mb-xxl-0 mb-xl-0 mb-lg-5 mb-md-4">
                        <div class="footer-widget">
                            <h4 class="font-body mb-4 text-white fs-18px">Subscribe Newsletter</h4>
                            <p class="fs-7 mb-3 text-white">Subscribe our newsletter to get the latest news and updates!</p>
                            <div class="footer-newsletter">
                                <form action="javascript:">
                                    <input type="text" id="newsletter" class="newsletter" placeholder="Your email...">
                                    <button class="btn btn-two" type="submit">Subscribe</button>
                                </form>
                            </div>
                            <p class="fs-7 mt-3">* Your email is kept private</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <hr>
                    </div>
                    <div class="col-lg-5">
                        <div class="copyright-text">
                            <p>© 2025 <a class="text-primary" href="#">Christ Gospel Assembly</a> | All Right Reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<button class="scroll__top scroll-to-target" data-target="html"><i class="fas fa-angle-up"></i></button>
<script src="assets/library/jquery-3.7.1.min.js"></script>
<script src="assets/library/bootstrap-5.3.2/bootstrap.bundle.min.js"></script>
<script src="assets/library/magnific-popup/magnific-popup.min.js"></script>
<script src="assets/library/odometer/odometer.min.js"></script>
<script src="assets/library/jquery.appear/script.js"></script>
<script src="assets/library/parallax-scroll/jquery.parallaxScroll.min.js"></script>
<script src="assets/library/isotop/isotope.pkgd.min.js"></script>
<script src="assets/library/images-loaded/imagesloaded.pkgd.min.js"></script>
<script src="assets/library/swiper/swiper-bundle.js"></script>
<script src="assets/library/wow/wow.min.js"></script>
<script src="assets/library/aos/aos.js"></script>
<script src="assets/library/feather/feather.min.js"></script>
<script src="assets/library/gsap-3.10.4/gsap.js"></script>
<script src="assets/library/gsap-3.10.4/ScrollTrigger.js"></script>
<script src="assets/library/gsap-3.10.4/SplitText.js"></script>
<script src="assets/script.js"></script>