<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Christ Gospel Assembly is a registered Christian religious charity organisation situated at Tilbury Town in Thurrock Essex, United Kingdom.">
    <title>Welcome - Christ Gospel Assembly (House of Prayer)</title>
    <link rel="shortcut icon" href="cga.jpg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&amp;family=Sora:wght@100..800&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="assets/library/font-awesome-5.15.4/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/library/bootstrap-5.3.2/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/library/animate/animate.min.css">
    <link rel="stylesheet" type="text/css" href="assets/library/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="assets/library/odometer/odometer.css">
    <link rel="stylesheet" type="text/css" href="assets/library/swiper/swiper-bundle.css">
    <link rel="stylesheet" type="text/css" href="assets/library/aos/aos.css">
    <link rel="stylesheet" type="text/css" href="assets/style.css">

</head>