<div class="preloader">
    <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-icon"><img style="height: 30px;" src="cga-main-logo.png" alt=""></div>
    </div>
</div>

<header class="main-header">
    <div class="header-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img style="height: 50px" src="cga-main-logo.png" alt="Logo">
                </a>
                <div class="collapse navbar-collapse main-menu">
                    <div class="nav-menu-wrapper">
                        <ul class="navbar-nav mr-auto" id="menu">
                            <li class="nav-item submenu"><a class="nav-link" href="/about">About Us</a>
                                <ul class="sub-menu">
                                    <li class="nav-item"><a class="nav-link" href="/statement">Statement of Beliefs</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/ministries">Our Ministers</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/service">Service Times</a></li>
                                </ul>
                            </li>                                
                            <li class="nav-item"><a class="nav-link" href="/ourministries">Our Ministries</a></li>
                            <li class="nav-item"><a class="nav-link" href="/event">Event</a></li> 
                            <li class="nav-item"><a class="nav-link" href="/sermon">Sermon</a></li> 
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                            <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
                            <li class="nav-item highlighted-menu"><a class="nav-link" href="#">donate now</a></li>                               
                        </ul>
                    </div>
                    <div class="header-btn d-inline-flex">
                        <a href="#" class="btn-default">donate now</a>
                    </div>
                </div>
                <div class="navbar-toggle"></div>
            </div>
        </nav>
        <div class="responsive-menu"></div>
    </div>
</header>