<div id="preloader">
    <div id="loader" class="loader">
        <div class="loader-container text-center">
            <div class="loader-icon"><img src="assets/images/logo/preloader.png" alt="Preloader"></div>
            <h6 class="text-center">Christ Gospel Assembly</h6>
        </div>
    </div>
</div>

<header class="transparent-header">
    <div class="tc-header__top d-none d-xxl-block d-xl-block">
        <div class="container custom-container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 justify-content-md-center">
                    <div class="position-relative overflow-hidden top-news">
                        <div class="swiper-1-vertical">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="d-flex fs-7 fw-normal align-items-center justify-content-md-center justify-content-lg-start mb-md-2 mb-lg-0">
                                        <span class="me-2 has-dot"><strong>UP COMING:</strong> Sunday fellowship meetings 10:00 am – 12:30 pm</span>
                                        <a href="#" class="d-flex rounded-5 tc-btn-xs">
                                            <span>Read More</span>
                                            <i data-feather="arrow-right" class="size-12"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="d-flex fs-7 fw-normal align-items-center justify-content-md-center justify-content-lg-start mb-md-2 mb-lg-0">
                                        <span class="me-2 has-dot"><strong>UP COMING:</strong> Friday night vigil, 10pm-12am.</span>
                                        <a href="#" class="d-flex rounded-5 tc-btn-xs">
                                            <span>Read More</span>
                                            <i data-feather="arrow-right" class="size-12"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="d-flex fs-7 fw-normal align-items-center justify-content-md-center justify-content-lg-start mb-md-2 mb-lg-0">
                                        <span class="me-2 has-dot"><strong>UP COMING:</strong> Wednesday Bible study, 7pm to 8pm.</span>
                                        <a href="#" class="d-flex rounded-5 tc-btn-xs">
                                            <span>Read More</span>
                                            <i data-feather="arrow-right" class="size-12"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <ul class="tc-header__top-right list-wrap fs-7 fw-normal">
                        <li>
                            <i class="size-16" data-feather="phone"></i>
                            <a href="tel:+4401375844355"><span class="text-dark">(+44) (0)1375844355</span></a>
                        </li>
                        <li>
                            <i class="size-16" data-feather="map-pin"></i>
                            <span class="text-dark">The Lighthouse, 164 Dock Road, Tilbury, Essex, RM18 7BS</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-header" class="tc-header__area">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="tgmenu__wrap py-xxl-0 py-xl-0 py-3">
                        <nav class="tgmenu__nav d-flex align-items-center justify-content-between justify-content-xxl-between justify-content-xl-evenly">
                            <div class="logo" style="background: black; padding: 10px; border-radius: 5px">
                                <a class="d-flex align-items-center" href="/">
                                    <img src="cga-main-logo.png" alt="Blessed">
                                </a>
                            </div>
                            <div class="tgmenu__navbar-wrap tgmenu__main-menu d-none d-xxl-flex d-xl-flex">
                                <ul class="navigation">
                                    <li class="menu-item-has-children"><a href="/about">About Us</a>
                                        <ul class="sub-menu">
                                            <li><a href="/statement">Statement of Beliefs</a></li>
                                            <li><a href="#">Our Ministries</a></li>
                                            <li><a href="#">Service Times</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/ministries">Our Ministers</a></li>
                                    <li class="menu-item-has-children"><a href="javascript:">Events</a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Events Of the Year</a></li>
                                            <li><a href="#">Event Calendar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/contact">Contact Us</a>
                                    <li><a href="/gallery">Gallery</a>
                                    <li><a href="javascript:">Prayer Request</a>
                                    </li>
                                    <li><a href="javascript:">Welfare & Evangelism</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tgmenu__action d-none d-xxl-flex">
                                <ul class="list-wrap">
                                    <li class="header-search">
                                        <a href="javascript:" class="search-open-btn">
                                            <i class="size-24" data-feather="search"></i>
                                        </a>
                                    </li>
                                    
                                    <li class="header-btn">
                                        <a href="javascript:" class="btn text-white rounded-5 btn-circle-arrow menu-tigger">
                                            <span>Donations</span>
                                            <span class="bg-transparent ms-2">
                                                <i class="size-16" data-feather="arrow-right"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mobile-nav-toggler d-block d-xxl-none d-xl-none d-flex justify-content-center align-items-center justify-content-end">
                                <i data-feather="menu"></i>
                            </div>
                        </nav>
                    </div>
                    <!-- Mobile Menu  -->
                    <div class="tgmobile__menu">
                        <nav class="tgmobile__menu-box">
                            <div class="close-btn"><i class="fas fa-times"></i></div>
                            <div class="nav-logo">
                                <a href="#"><img src="assets/images/logo/logo-1.png" alt="Blessed"></a>
                            </div>
                            <div class="tgmobile__search">
                                <form action="javascript:">
                                    <input type="text" id="search-field" class="search-field" placeholder="Search here...">
                                    <button><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                            <div class="tgmobile__menu-outer">
                            </div>
                            <div class="tgmobile__menu-bottom">
                                <div class="contact-info">
                                    <ul class="list-wrap">
                                        <li><a href="mailto:info@christgospelassembly.org.uk">info@christgospelassembly.org.uk</a></li>
                                        <li><a href="tel:+44 (0)1375844355">+44 (0)1375844355</a></li>
                                    </ul>
                                </div>
                                <div class="social-links">
                                    <ul class="list-wrap">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="tgmobile__menu-backdrop"></div>
                    <!-- End Mobile Menu -->
                </div>
            </div>
        </div>
    </div>
    

    <div class="search__popup">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search__wrapper">
                        <div class="search__close">
                            <button type="button" class="search-close-btn">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17 1L1 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M1 1L17 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </button>
                        </div>
                        <div class="search__form">
                            <form action="javascript:">
                                <div class="search__input">
                                    <input class="search-input-field" id="search-input-field" type="text" placeholder="Type keywords here">
                                    <span class="search-focus-border"></span>
                                    <button>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.55 18.1C14.272 18.1 18.1 14.272 18.1 9.55C18.1 4.82797 14.272 1 9.55 1C4.82797 1 1 4.82797 1 9.55C1 14.272 4.82797 18.1 9.55 18.1Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M19.0002 19.0002L17.2002 17.2002" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-popup-overlay"></div>

    
    <div class="offCanvas__info">
        <div class="offCanvas__close-icon menu-close">
            <button><i class="far fa-window-close"></i></button>
        </div>
        <div class="offCanvas__logo mb-30">
            <a href="index.html"><img src="assets/images/logo/logo-1.png" alt="Blessed"></a>
        </div>
        <div class="offCanvas__side-info mb-30">
            <div class="contact-list mb-30">
                <h4>Office Address</h4>
                <p>
                    The Lighthouse, <br>
                    164 Dock Road, Tilbury, Essex <br>
                    RM18 7BS <br>
                </p>
            </div>
            <div class="contact-list mb-30">
                <h4>Phone Number</h4>
                <p>+44 (0)1375844355</p>
            </div>
            <div class="contact-list mb-30">
                <h4>Email Address</h4>
                <p>info@christgospelassembly.org.uk</p>
            </div>
        </div>
        <div class="offCanvas__social-icon mt-30">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="javascript:"><i class="fab fa-twitter"></i></a>
            <a href="javascript:"><i class="fab fa-google-plus-g"></i></a>
            <a href="javascript:"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="offCanvas__overly"></div>

</header>
